<template>
  <div>
    <backdrop
      v-bind="backdropProps"
      v-if="!hide"
      @click.native="onHide"
    />
    <component
      :is="transitionComponent"
      v-bind="transitionProps"
      @after-enter="afterEnterHandler"
    >
      <div
        v-if="!hide"
        class="panel"
        :style="{ width: `${width}px` }"
      >
        <div
          class="panel__hide"
          @click="onHide"
        >
          <div class="panel__hide-wrapper">
            <typography
              class="hide-text"
              color="main"
              :size="14"
              :weight="500"
            >
              {{ $t('actions.hide') }}
            </typography>
            <arrow-icon
              color="main"
              class="panel__arrow-icon"
              direction="right"
              :dimensions="10"
            />
          </div>
        </div>
        <div class="panel__content">
          <div class="panel__content-scrollbar">
            <slot />
          </div>
        </div>
      </div>
    </component>
  </div>
</template>

<script>

import { Backdrop, ArrowIcon, Typography } from '..'
import { SlideTransition } from 'components/transitions'

export default {
  components: {
    Typography,
    Backdrop,
    ArrowIcon,
    SlideTransition
  },

  name: 'Panel',

  props: {
    backdropProps: {
      type: Object,
      required: false,
      default: () => ({
        transparent: false
      })
    },

    disableBodyScroll: {
      type: Boolean,
      required: false,
      default: true
    },

    hide: {
      type: Boolean,
      required: true
    },

    transitionComponent: {
      type: Object,
      reqired: false,
      default: () => SlideTransition
    },

    transitionProps: {
      type: Object,
      required: false,
      default: () => ({
        offset: 500,
        duration: 350,
        direction: 'right'
      })
    },

    width: {
      type: Number,
      required: false,
      default: 300
    }
  },

  methods: {
    afterEnterHandler (el) {
      this.$emit('after-enter', el)
    },

    onHide () {
      this.$emit('hide')
    }
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/elevations';
@use 'components/core/styles/colors';
@use 'components/core/styles/shadows';
@use 'components/core/styles/scrollbars';

.panel {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  background-color: colors.get('white');
  z-index: elevations.get('panel');
}

.panel__hide {
  padding: 22px 35px 20px 20px;
  border-bottom: 1px solid colors.get('header-search-browser');
}

::v-deep .panel__hide-wrapper .typography {
  cursor: pointer;
  text-align: right;
}

.panel__hide-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.panel__arrow-icon {
  margin-left: -2px;
}

.panel__content {
  height: calc(100vh - 61px);

  &-scrollbar {
    margin-top: 5px;
    @include scrollbars.dropdown;
    overflow-y: auto;
    height: inherit;
  }
}

</style>
