<template>
  <div class="button-drop">
    <btn
      class="root-btn"
      :icon-props="iconProps"
      v-bind="$props"
    >
      <slot />
    </btn>
    <div class="button-drop__panel">
      <btn
        class="button-drop__button"
        v-for="{ name, handler } in panel"
        :key="name"
        :icon-props="null"
        color="white"
        :typography-props="{
          ...$props.typographyProps,
          color: 'dark',
          weight: 400
        }"
        @click.native="handler"
      >
        {{ name }}
      </btn>
    </div>
  </div>
</template>

<script>

import Btn from './Button'
import buttonProps from './buttonProps'

export default {
  name: 'ButtonDropdown',

  components: {
    Btn
  },

  props: {
    ...buttonProps,
    panel: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/colors';
@use 'components/core/styles/measures';
@use 'components/core/styles/shadows';
@use 'components/core/styles/animations';

.button-drop {
  position: relative;
  height: 43px;

  &:hover > &__panel {
    display: block;
  }
}

::v-deep .button-drop__button:hover > .typography {
  color: colors.get('main');
}

::v-deep .button-drop__button {
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  width: 100%;
  &:hover {
    background-color: colors.get('main-low-opacity');
  }
}

.button-drop__panel {
  display: none;
  position: absolute;
  padding: 15px 0;
  left: 0;
  box-shadow: shadows.get('main');
  border-radius: measures.get('border-radius');
  background-color: colors.get('white');
  z-index: 10;
  min-width: 100%;
  margin-top: 6px;
  white-space: nowrap;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: animations.fade('in', .2s);

  &::before {
    content: "";
    display: block;
    position: relative;
    top: -21px;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: transparent;
  }
}

</style>
