<template>
  <button
    class="base-btn"
    :class="[
      iconProps ? 'base-btn--icon' : 'base-btn--no-icon',
      $slots['default'] ? 'base-btn--text' : 'base-btn--notext',
      `bg-${color}`,
    ]"
  >
    <component
      :is="resolveIconData.component"
      v-if="iconProps"
      v-bind="resolveIconData.props"
      class="base-btn__icon"
    />
    <typography
      v-bind="{
        ...typographyProps,
        size: 14
      }"
    >
      <slot />
    </typography>
  </button>
</template>

<script>

import { Badge, Icon, ArrowIcon, Typography } from '..'
import buttonProps from './buttonProps'

export default {
  name: 'Button',

  components: {
    Badge,
    Typography
  },

  props: {
    ...buttonProps,
    badgeProps: {
      type: [String, Number]
    }
  },

  computed: {
    resolveIconData () {
      const iconProps = this.iconProps
      const defaults = {
        color: this.typographyProps.color,
        dimensions: 12
      }

      const iconType = typeof iconProps === 'string' ? iconProps : iconProps.type
      switch (iconType) {
        case 'arrow':
          return {
            component: ArrowIcon,
            props: {
              direction: iconProps?.direction || 'up',
              ...defaults,
              type: 'arrow'
            }
          }

        default:
          return {
            component: Icon,
            props: {
              ...defaults,
              dimensions: iconProps.dimensions || 12,
              type: iconType
            }
          }
      }
    }
  }
}
</script>

<style lang="scss" scoped>

@use "components/core/styles/colors";
@use "components/core/styles/shadows";
@use "components/core/styles/beziers";
@use 'components/core/styles/measures';

.base-btn {
  position: relative;
  font-family: inherit;
  border: none;
  cursor: pointer;
  box-shadow: shadows.get('main');
  border-radius: measures.get('border-radius');
  display: flex;
  align-items: center;
  height: 42px;
  transition: .35s beziers.get(1);
  outline: 0;

  &:hover {
    opacity: .9;
  }

  &__badge {
    top: 5px;
    right: 5px;
  }
}

.base-btn--icon {
  padding: 11px 25px 11px 20px;
}

.base-btn--no-icon {
  padding: 11px 24px;
}

.base-btn__icon {
  margin-right: 10px;
}

.base-btn--notext {
  padding: 11px 18px;
  > .base-btn__icon {
    margin-right: 0;
  }
}

</style>
