<template>
  <div class="data-table">
    <div class="data-table__heading">
      <heading
        :heading="heading"
        :side-note="sideNote"
      />
      <div class="data-table__buttons">
        <slot />
      </div>
    </div>
    <div
      class="data-table__pills"
      v-if="Object.keys(pillsQuery).length > 0"
    >
      <pill
        all
        @click.native="removeFilter('_all')"
      />
      <pill
        v-for="(pill, key) in pillsQuery"
        :data-config="dataConfig"
        :key="key"
        :name="key"
        :item="pill"
        @click.native="removeFilter(key)"
      />
    </div>
    <div v-if="filters">
      <filters
        :data-config="resolveDataConfig"
        :fetch-fn="fetchFn"
        :remove-search="removePillsField"
        :show-filter="showFilter"
        :table-name="tableName"
        @pills-data="pillsQuery = $event"
        @hide-filter="$emit('hide-filter')"
      />
    </div>
    <table-head
      :checkbox="checkbox"
      :checkbox-data="checkboxData"
      :checkbox-key="checkboxKey"
      :data-config="resolveDataConfig"
      :total-row-width="totalRowWidth"
      @position="slideX = $event"
      @check-all="checkAllAction"
    />
    <table-body
      id="customers_table"
      v-dragger="{
        totalRowWidth,
        config: resolveDataConfig,
        attr: 'customers_table'
      }"
      class="data-table-core"
      :count="count"
      :checkbox="checkbox"
      :checkbox-key="checkboxKey"
      :checkbox-data="checkboxData"
      :data-config="resolveDataConfig"
      :loader="loader"
      :rows="rows"
      :total-row-width="totalRowWidth"
      :slide-x="slideX"
      v-bind="$attrs"
      @checkbox-data="setCheckboxData"
      @row-click="rowClick"
    />
  </div>
</template>

<script>

import Heading from './Heading'
import TableBody from './Core/TableBody'
import infiniteScroll from './infiniteScroll'
import Filters from './Filters'
import TableHead from './Thead'
import Pill from './FilterList/Pill'
import { Dragger } from './XSlider'

export default {
  name: 'DataTableCore',

  mixins: [
    infiniteScroll
  ],

  components: {
    Heading,
    Filters,
    Pill,
    TableBody,
    TableHead
  },

  directives: {
    Dragger
  },

  inheritAttrs: false,

  props: {
    count: {
      type: Number,
      required: false
    },
    dataConfig: {
      type: [Array, Object],
      required: false
    },
    checkboxKey: {
      type: String,
      required: false,
      default: 'id'
    },
    checkbox: {
      type: Boolean,
      required: false,
      default: true
    },
    entity: {
      type: Object,
      required: false,
      default: () => ({})
    },
    filters: {
      type: Boolean,
      required: false,
      default: true
    },
    heading: {
      type: String,
      required: true
    },
    fetchFn: {
      type: Function,
      required: true
    },
    infiniteScroll: {
      type: Object,
      required: false,
      default: () => ({
        loadThreshold: 50,
        offset: 350,
        container: document
      })
    },
    loader: {
      type: Boolean,
      required: false,
      default: true
    },
    rows: {
      type: Array,
      required: true
    },
    showFilter: {
      type: Boolean,
      required: false,
      default: false
    },
    sideNote: {
      type: [String, Number],
      required: false
    },
    tableName: {
      type: String,
      required: true
    }
  },

  data: () => ({
    slideX: 0,
    checkboxData: [],
    removeSearchKey: null,
    removePillsField: null,
    pillsQuery: {}
  }),

  computed: {
    resolveDataConfig () {
      const { isArray } = Array
      return this.dataConfig.map(item => {
        const defaultWidth = 200

        if (isArray(item) && !item[0].width) {
          item[0].width = defaultWidth
        } else if (!item.width) {
          item.width = defaultWidth
        }

        return item
      })
    },

    totalRowWidth () {
      const { isArray } = Array
      const { checkbox } = this

      return this.dataConfig.reduce((acc, cur) => {
        acc += (isArray(cur) ? cur[0].width : cur.width) || 200
        return acc
      }, checkbox ? 60 : 0)
    }
  },

  methods: {
    removeFilter (name) {
      this.removePillsField = name
    },

    checkAllAction (all) {
      this.checkboxData = all
        ? this.rows.map(o => o[this.checkboxKey])
        : []
      this.$emit('checkbox-data', this.checkboxData)
    },

    setCheckboxData (id) {
      if (this.checkboxData.includes(id)) {
        this.checkboxData = this.checkboxData.filter(curId => curId !== id)
      } else {
        this.checkboxData.push(id)
      }

      this.$emit('checkbox-data', this.checkboxData)
    },

    rowClick (e, data) {
      this.$emit('row-click', data, e)
    }
  }
}
</script>
<style lang="scss" scoped>

@use 'components/core/styles/colors';

.data-table {
  user-select: none;
}

.data-table__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 73px
}

.data-table__buttons {
  display: flex;
  ::v-deep button:not(:last-child) {
    margin-right: 7px;
  }
}

.data-table__submenu {
  display: flex;
  justify-content: space-between;
}

</style>
