<template>
  <panel
    class="dtf"
    :hide="!showFilter"
    @hide="emitHide"
  >
    <div class="dtf__heading">
      <typography
        :size="16"
        :weight="600"
      >
        {{ $t('filter') }}
      </typography>
    </div>
    <ul class="dtf__form">
      <form autocomplete="off">
        <template v-for="{ filter, name, value, options } in listWithValues">
          <wrapper
            v-if="filter"
            :key="name"
            :name="name"
            :filter="filter"
            :options="options"
            :initial-value="value"
            @value="resolveValue($event, name)"
          />
        </template>
      </form>
    </ul>
    <div class="dtf__buttons">
      <btn
        color="main"
        @click.native="applyHandler"
      >
        {{ $t('actions.apply') }}
      </btn>
    </div>
  </panel>
</template>

<script>

import Wrapper from './FilterList/Wrapper'
import queryMixin from './FilterList/queryMixin'
import { Panel, Typography, Btn } from '..'
import { stringify } from 'qs'

export default {
  components: {
    Btn,
    Panel,
    Typography,
    Wrapper
  },

  mixins: [
    queryMixin
  ],

  props: {
    dataConfig: [Array, Object],
    fetchFn: Function,
    removeSearch: String,
    showFilter: Boolean,
    queryHandler: Function,
    tableName: String
  },

  methods: {
    applyHandler () {
      const query = this.queryObject
      const { tableName, fetchFn } = this
      const tableQuery = query[tableName]

      fetchFn(tableQuery || {}) && this.$router.replace({
        query: {
          ...query,
          [tableName]: stringify(query[tableName])
        }
      }, () => {})

      const tableSearch = tableQuery?.search || {}
      this.$emit('pills-data', tableSearch)
      this.$emit('hide-filter')
    },

    emitHide () {
      this.$emit('hide-filter')
    },

    panelKeyboard (e) {
      if (e.key === 'Enter') {
        this.applyHandler()
      }

      e.stopPropagation()
    }
  },

  created () {
    this.$watch('removeSearch', this.removeValueFromSearch)
  },

  mounted () {
    window.addEventListener('keydown', this.panelKeyboard, {
      passive: true
    })
  },

  destroyed () {
    window.removeEventListener('keydown', this.panelKeyboard)
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/utils';

.dtf {
  height: 100%;

  &__heading {
    padding: 30px 0px 10px 30px;
  }

  &__buttons {
    padding-left: 30px;
    margin-top: 15px;
  }

  &__form {
    @include utils.reset-list;
  }
}

</style>
