<template>
  <div class="data-table-heading">
    <div>
      <typography
        tag="h1"
        :size="34"
        :weight="500"
      >
        {{ heading }}
        <typography
          v-if="sideNote"
          color="light"
          :size="16"
          tag="span"
        >
          ({{ sideNote }})
        </typography>
      </typography>
    </div>
  </div>
</template>

<script>

import { Typography } from '..'

export default {
  components: {
    Typography
  },
  props: {
    sideNote: [Number, String],
    heading: String
  }
}
</script>
