<template>
  <div class="table-header">
    <slider
      :items="dataConfig"
      :container-ref="$el"
      :row-width="totalRowWidth"
      @position="sliderPos"
    />
    <paper
      class="table-header__paper"
      role="row"
      color="white"
    >
      <div
        class="row"
        :style="{
          width: `${totalRowWidth}px`,
          transform: `translateX(${slideX}px)`
        }"
      >
        <cell-renderer
          class="table-row--gap checkbox-wrapper"
          v-if="checkbox"
          role="columnheader"
          @click.native="checkAllAction"
        >
          <checkbox
            :checked="checkAll"
          />
        </cell-renderer>
        <cell-renderer
          v-for="(col, index) in dataConfig"
          :key="index"
          :row-width="(Array.isArray(col) ? col[0].width : col.width)"
        >
          <div
            role="columnheader"
            class="header-col"
          >
            <template v-if="Array.isArray(col) && col.length === 2">
              <typography
                :size="13"
                :weight="600"
              >
                {{ resolveItem(col[0]) }}
              </typography>
              <typography
                :size="13"
                color="light"
              >
                {{ resolveItem(col[1]) }}
              </typography>
            </template>
            <typography
              v-else
              :size="13"
              :weight="600"
            >
              {{ resolveItem(col) }}
            </typography>
          </div>
        </cell-renderer>
      </div>
    </paper>
  </div>
</template>

<script>

import { Checkbox, Paper, Typography } from 'components/core'
import { isPlainObject } from 'lodash'
import { Slider } from './XSlider'
import CellRenderer from './Core/CellRenderer'

export default {
  components: {
    CellRenderer,
    Checkbox,
    Paper,
    Typography,
    Slider
  },

  props: {
    checkbox: Boolean,
    checkboxData: Array,
    checkboxKey: String,
    dataConfig: [Array, Object],
    totalRowWidth: Number
  },

  data: () => ({
    checkAll: false,
    slideX: 0
  }),

  methods: {
    checkAllAction () {
      this.checkAll = !this.checkAll
      this.$emit('check-all', this.checkAll)
    },

    resolveItem (item) {
      if (isPlainObject(item)) {
        return item.text || item.name
      }

      return item
    },

    sliderPos (pos) {
      this.slideX = pos
      this.$emit('position', pos)
    }
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/colors';

.table-header {
  background-color: colors.get('background');
  padding-top: 20px;
  position: sticky;
  z-index: 1;
  top: 66px;
  width: 100%;
  margin-left: 0;
  transition: .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

::v-deep .table-header__paper {
  overflow-x: hidden;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  width: 60px;
}

.row {
  display: flex;
  overflow: hidden;
  transition: transform .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

::v-deep .typography {
  white-space: nowrap;
}

</style>
