<template>
  <header
    class="navbar-main"
  >
    <panel
      :hide="!panelIsOpen"
      :links="links.panel"
      @hide-panel="togglePanel"
    />
    <div class="logo-container">
      <img
        :src="logo"
        alt="Admin"
      >
    </div>
    <div class="search" />
    <nav class="navbar">
      <ul>
        <li
          v-for="link in links.static"
          :key="link.name"
        >
          <mc-link
            :weight="600"
            color="dark"
            :size="16"
          >
            {{ link.name }}
          </mc-link>
        </li>
      </ul>
    </nav>
    <div class="vertical-line" />
    <div
      class="dropdown-menu"
      @click="togglePanel"
    >
      <icon
        type="menu"
        :dimensions="16"
      />
    </div>
    <div class="profile">
      <div class="profile-icon-wrapper">
        <badge
          :value="6"
          color="warning"
        />
        <icon
          type="profileEmpty"
          :dimensions="32"
        />
      </div>
    </div>
  </header>
</template>

<script>

import { McLink, Icon, Badge } from 'components/core'
import Panel from './Panel'

export default {
  components: {
    Badge,
    McLink,
    Icon,
    Panel
  },

  props: {
    logo: String,
    links: Object
  },

  data: () => ({
    panelIsOpen: false,
    scrollStopper: null
  }),

  methods: {
    togglePanel (close) {
      this.panelIsOpen = close || !this.panelIsOpen
    }
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/breakpoints';
@use 'components/core/styles/elevations';
@use 'components/core/styles/colors';

.navbar-main {
  background-color: colors.get('header-bg');
  box-shadow: 0px 20px 20px 0px rgba(232, 235, 237, 0.7);
  padding: 0 35px 0 30px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: elevations.get('navbar');
  height: 73px;
}

.logo-container {
  max-width: 180px;
  max-height: 37px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.search {
  margin-left: 25px;
  margin: auto;
  flex-grow: 1;
  text-align: right;
  @include breakpoints.screen('sm', 'min') using ($_size) {
    max-width: 43%;
  }
}

.navbar > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;

  li {
    margin: 0 22px;
    white-space: nowrap;
  }
}

.vertical-line {
  width: 1px;
  height: 22px;
  background-color: colors.get('header-border');
  margin: 0 33px 0 22px;
}

.dropdown-menu {
  cursor: pointer;
  margin-right: 11px;
}

.profile {
  margin-left: 15px;
}

.profile-icon-wrapper {
  border: 2px solid colors.get('status-online');
  border-radius: 50%;
  position: relative;
}

</style>
