<template>
  <panel
    @hide="emitHide"
    @transition-after-enter="afterLeave"
    :hide="hide"
  >
    <div
      class="panel-segment"
      v-for="(segments, segmentName) in links"
      :key="segmentName"
    >
      <div class="segment-heading-block">
        <typography
          class="heading-text"
          tag="h3"
          :weight="600"
          :size="16"
        >
          {{ segmentName }}
        </typography>

        <ul
          class="collapse-menu"
          v-for="{ name, items, icon, path, handler } in segments"
          :key="name"
        >
          <li class="collapse-menu__item">
            <input
              class="collapse-menu__input"
              type="checkbox"
              :name="name"
              :id="name"
            >
            <label
              class="collapse-menu__label"
              :for="name"
            >
              <icon
                :type="icon"
                :dimensions="20"
              />
              <typography
                v-if="items"
                tag="span"
                color="dark"
                :size="13"
                :weight="600"
              >
                {{ (handler && handler()) || name }}
              </typography>
              <mc-link
                v-else
                color="dark"
                :to="path"
                :size="13"
                :weight="600"
              >
                {{ name }}
              </mc-link>
            </label>
            <ul
              class="collapse-menu__sub"
              v-if="items"
            >
              <li
                class="collapse-menu__item"
                v-for="{ path, name } in items"
                :key="name"
              >
                <mc-link
                  :to="path"
                  class="link"
                  color="dark"
                  :weight="500"
                  :size="13"
                  @click.native="handleLink"
                >
                  {{ name }}
                </mc-link>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </panel>
</template>
<script>

import { Typography, Icon, Panel, McLink } from 'components/core'

export default {
  components: {
    McLink,
    Icon,
    Typography,
    Panel
  },

  props: {
    links: Object,
    hide: Boolean
  },

  methods: {
    emitHide () {
      this.$emit('hide-panel')
    },

    afterLeave () {
      console.log(123)
    }
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/elevations';
@use 'components/core/styles/colors';

.segment-heading-block {
  margin-bottom: 20px;
}

.collapse-menu {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 300px;
}

.collapse-menu__sub {
  list-style: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.collapse-menu__item {
  position: relative;
  user-select: none;
  display: grid;
  border-left: 1px solid var(--header-search-border);
}

.collapse-menu__input {
  position: absolute;
  width: 100%;
  visibility: hidden;
}

.collapse-menu__input:checked ~ .collapse-menu__sub {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
  padding-bottom: 10px;
}

.collapse-menu__label {
   border-top: 1px solid #FFF;
   padding:8px 0px 8px 30px;
   display: flex;
   margin: 0;
}

::v-deep .collapse-menu__label .typography {
  vertical-align: text-bottom;
  line-height: 23px;
  margin-left: 8px;
}

::v-deep .collapse-menu__sub a {
  color: colors.get('dark');
  padding: 6px 0px 6px 30px;
}

::v-deep .collapse-menu__item .typography:hover,
::v-deep .collapse-menu__input:checked ~ label > .typography {
  color: colors.get('main');
}

::v-deep .collapse-menu__label {
  cursor: pointer;
}

::v-deep .heading-text {
  padding: 30px 0px 12px 30px;
}

::v-deep .link {
  margin-left: 8px;
}

::v-deep .typography {
  text-decoration: none;
}

</style>
