<template>
  <desktop
    :links="links"
    :logo="logo"
    @logout="$emit('log-out-click')"
  />
</template>

<script>

import Desktop from './Desktop'

// Need version for mobile
// Now just render desktop
export default {
  components: {
    Desktop
  },

  props: {
    links: {
      type: Object,
      required: true
    },

    logo: {
      type: String,
      required: true
    }
  }
}

</script>

<style lang="scss" scoped>

</style>
