<template>
  <div
    class="badge"
    :class="`bg-${color}`"
  >
    <typography
      v-bind="typographyProps"
    >
      {{ value }}
    </typography>
  </div>
</template>

<script>

import { Typography } from 'components/core'
import { colorProp } from '../commonProps/colors'

export default {
  name: 'Badge',

  components: {
    Typography
  },

  props: {
    color: colorProp,
    value: {
      type: Number,
      required: true
    },

    typographyProps: {
      type: Object,
      required: false,
      default: () => ({
        tag: 'span',
        size: 8.5,
        weight: 600,
        color: 'white'
      })
    }
  }
}

</script>

<style lang="scss" scoped>

@use 'components/core/styles/utils';

.badge {
  border-radius: 50%;
  width: 13px;
  height: 13px;
  line-height: 12px;
  position: absolute;
  top: -3px;
  right: -5px;
  @include utils.flex(center, center);
}

</style>
