<template>
  <typography
    selectable
    class="mc-link"
    :tag="tag"
    :weight="weight"
    :size="size"
    :color="color"
    @click="handleRouterLink"
  >
    <slot />
  </typography>
</template>

<script>

import { Typography } from '..'
import { noop } from 'lodash'

export default {
  name: 'McLink',

  components: {
    Typography
  },

  props: {
    // Skip uncecessary checks, let vue-router handle it
    to: [String, Object],
    weight: Number,
    color: {
      type: String,
      default: 'main'
    },
    size: Number,
    replace: Boolean,
    tag: {
      type: String,
      default: 'a'
    },
    exact: Boolean,
    onComplete: {
      type: Function,
      default: noop
    },
    onAbort: {
      type: Function,
      default: noop
    }
  },

  methods: {
    handleRouterLink () {
      this.replace
        ? this.$router.replace(this.to, this.onComplete, this.onAbort)
        : this.$router.push(this.to, this.onComplete, this.onAbort)
    }
  }
}
</script>
<style lang="scss">

.mc-link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: inherit;
  }
}

</style>
