<template>
  <div class="frb">
    <paper>
      <typography
        tag="h1"
        :size="26"
      >
        {{ title }}
      </typography>
      <typography
        tag="p"
        :size="16"
        color="gray-100"
      >
        <slot />
      </typography>
    </paper>
  </div>
</template>

<script>

import { Paper, Typography } from 'components/core'

export default {
  components: {
    Paper,
    Typography
  },

  props: {
    title: String
  }
}
</script>

<style lang="scss" scoped>

.frb {
  margin: 32px 0;
  text-align: center;
}

</style>
