<template>
  <icon
    class="icon__arrow"
    type="arrow"
    :class="direction"
    v-bind="$props"
  />
</template>
<script>

import Icon from './Icon'
import iconProps from '../commonProps/iconProps'

export default {
  name: 'ArrowIcon',

  components: {
    Icon
  },

  props: {
    ...iconProps,

    // Override default icon type prop since its always arrow
    type: {
      type: String,
      required: false
    },

    direction: {
      type: String,
      required: false,
      default: 'down',
      validator: v => ([
        'up',
        'down',
        'left',
        'right'
      ].includes(v))
    }
  }
}

</script>
<style lang="scss" scoped>

$directions: (
  "up": rotate(0) translateY(-3px),
  "right": rotate(270deg),
  'down': rotate(180deg) translateY(-10px),
  'left': rotate(90deg)
);

@each $key, $value in $directions {
  .#{$key} {
    transform: $value;
  }
}

.icon__arrow {
  transition: transform .22s cubic-bezier(0.165, 0.84, 0.44, 1);
}

</style>
