<template>
  <div class="icon" :style="{
    width: `${dimensions[0] || dimensions}px`,
    height: `${dimensions[1] || dimensions[0] || dimensions}px`
  }">
    <component
      :class="[
        `fill-${color}`,
      ]"
      :is="icon"
    />
  </div>
</template>

<script>

import iconProps from '../commonProps/iconProps'
import { camelCase } from 'lodash'

export default {
  name: 'Icon',
  
  props: {
    ...iconProps
  },
  
  data: () => ({ icon: null }),

  methods: {
    async fetchSvgData (iconType = this.type) {
      try {
        const name = iconType.charAt(0).toUpperCase() + iconType.slice(1)
        const cameled = camelCase(iconType)
        const properFileName = cameled.charAt(0).toUpperCase() + cameled.slice(1)
        const icon = await import(/* webpackChunkName: "svgIcon" */ `assets/icons/default/${properFileName}`)
        this.icon = icon.default
      } catch (e) {
        throw Error(`Icon [${this.type}] doesn't exist`)
      }
    }
  },

  created () { 
    this.fetchSvgData()
  }
}
</script>
