<template>
  <div class="app-wrapper">
    <modal-global />
    <navbar
      :links="navbarLinks"
      :logo="mcLogo"
      @log-out-click="logoutHandler"
    />
    <v-loader-global />
    <main class="view-wrapper">
      <router-view />
    </main>
  </div>
</template>

<script>

import { Navbar } from 'components/layout'
import mcLogo from 'assets/static/admin-logo.png'
import vLoaderGlobal from 'components/layout/vLoader/vLoaderGlobal'
import ModalGlobal from './ModalGlobal'
import navbarLinks from './navbarLinks'
import AuthGuard from './AuthGuard'

export default {
  components: {
    ModalGlobal,
    Navbar,
    vLoaderGlobal
  },

  mixins: [
    AuthGuard
  ],

  data () {
    return {
      mcLogo,
      navbarLinks: navbarLinks(this)
    }
  },

  methods: {
    logoutHandler () {

    }
  }
}
</script>
<style lang="scss">

@use "components/core/styles/breakpoints";
@use "components/core/styles/colors";

body {
  background-color: colors.get('background');
}

.view-wrapper {
  @include breakpoints.screen('sm', 'min') using ($_size) {
    margin: 60px 40px 20px 40px;
  }

  margin: 20px;
}

</style>
