<template>
  <div
    class="modal-global-wrapper"
  >
    <template v-for="modal in list">
      <backdrop
        :key="`${modal.uuid}_bdrop`"
        v-show="modal.component"
        v-bind="modal.backdropProps || {
          duration: 100,
          easing: 'linear'
        }"
      />
      <component
        v-show="modal.component"
        :key="`${modal.uuid}_comp`"
        :is="resolveTransitionComponent(modal.transition)"
        v-bind="resolveTransitionProps(modal.transitionProps)"
      >
        <component
          :is="modal.component"
          v-bind="modal.prop ? modal.props : {}"
          v-on="modal.listeners ? modal.listeners : {}"
        />
      </component>
    </template>
  </div>
</template>

<script>

import { mapState } from 'vuex'
import { Backdrop } from 'components/core'
import { FadeTransition, SlideTransition } from 'components/transitions'
import { MODAL_NAMESPACE } from 'store/modules/modal/types'

export default {
  name: 'ModalGlobal',

  components: {
    Backdrop,
    FadeTransition,
    SlideTransition
  },

  computed: {
    ...mapState(MODAL_NAMESPACE, ['list'])
  },

  methods: {
    resolveTransitionComponent (comp) {
      return comp || SlideTransition
    },

    resolveTransitionProps (props) {
      return props || {
        duration: 250,
        direction: 'down',
        easing: 'easeOutCubic',
        offset: 50,
        fade: true
      }
    }
  }

}
</script>
