<template>
  <div class="vb-heading">
    <typography
      tag="h1"
      :size="34"
      :weight="600"
    >
      <slot />
      <typography
        tag="span"
        :size="24"
        color="gray-80"
        :weight="400"
        v-if="$slots['sideNote']"
      >
        <slot name="sideNote" />
      </typography>
    </typography>
  </div>
</template>

<script>

import { Typography } from 'components/core'

export default {
  components: {
    Typography
  }
}
</script>

<style lang="scss" scoped>

.vb-heading {
  margin: 30px 0;
  display: flex;
}

</style>
