<template>
  <div
    class="vb-addr__segment"
    v-for="({ fieldName, data, icon }, index) in segments"
    :key="index"
  >
    <div
      class="vb-addr__segment-icon"
      v-if="icon"
    >
      <icon
        :type="icon"
        :dimensions="16"
      />
    </div>
    <div class="vb-addr__segment-data">
      <typography
        tag="p"
        :weight="600"
        :size="13"
      >
        {{ fieldName }}
      </typography>
      <typography
        v-for="(dataItem, dataIndex) in data"
        :key="dataIndex"
        tag="p"
        :weight="600"
        color="gray-100"
        :size="13"
      >
        {{ dataItem }}
      </typography>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>
