<template>
  <div class="vb-addr">
    <paper class="vb-addr__paper">
      <div
        class="vb-addr__profile"
        v-if="profile"
      >
        <div
          class="vb-addr__profile-image"
        >
          <img
            v-bind="profile.img"
          >
        </div>
        <div class="vb-addr__profile-text">
          <typography
            color="dark"
            :size="24"
            tag="h1"
            :weight="600"
          >
            {{ profile.fullName }}
          </typography>
        </div>
      </div>
      <div class="vb-addr__segments">
        <div
          class="vb-addr__segment"
          v-for="({ fieldName, data, icon }, index) in segments"
          :key="index"
          :id="fieldName"
        >
          <div
            class="vb-addr__segment-icon"
            v-if="icon"
          >
            <icon
              :type="icon"
              :dimensions="16"
            />
          </div>
          <div class="vb-addr__segment-data">
            <typography
              tag="p"
              :weight="600"
              :size="14"
            >
              {{ fieldName }}
            </typography>
            <typography
              v-for="(dataItem, dataIndex) in data"
              :key="dataIndex"
              tag="p"
              :weight="600"
              color="gray-100"
              :size="14"
            >
              {{ dataItem }}
            </typography>
          </div>
        </div>
      </div>
    </paper>
  </div>
</template>

<script>

import { Icon, Paper, Typography } from 'components/core'

export default {
  components: {
    Icon,
    Paper,
    Typography
  },

  props: {
    profile: {
      type: Object,
      default: null
    },
    segments: {
      type: Array,
      default: () => ([])
    }
  }
}
</script>

<style lang="scss" scoped>

::v-deep .vb-addr__paper {
  padding: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.vb-addr {
  width: auto;

  &__profile-image {
    border-radius: 50%;
    width: 115px;
    height: 115px;
    margin: auto;
    margin-bottom: 35px;

    > img {
      width: inherit;
      height: inherit;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

</style>
