<template>
  <div class="view-box">
    <div class="view-box__text-wrapper">
      <typography
        class="view-box__typography--heading"
        :size="24"
        tag="h3"
        :weight="700"
      >
        {{ title }}
      </typography>
      <typography
        class="view-box__typography--desc"
        v-if="desc"
        :size="17"
        :weight="500"
        tag="p"
        color="gray-80"
      >
        {{ desc }}
      </typography>
    </div>
    <paper class="view-box__box">
      <slot />
    </paper>
  </div>
</template>

<script>

import { Paper, Typography } from 'components/core'

export default {
  name: 'ViewBox',

  components: {
    Paper,
    Typography
  },

  props: {
    title: String,
    desc: String
  }
}
</script>

<style lang="scss" scoped>

.view-box {
  margin: 20px 0;

  &__text-wrapper {
    line-height: 1.5;
  }
}

::v-deep .view-box__box {
  margin-top: 14px;
  padding: 30px 40px;
}

</style>
