<template functional>
  <component
    class="paper"
    :ref="data.ref"
    :class="[
      data.class,
      data.staticClass,
      `bg-${props.color}`,
      props.shadow && `shadow-${props.shadow}`,
    ]"
    :is="props.tag"
    v-bind="data.attrs"
    v-on="listeners"
  >
    <slot />
  </component>
</template>

<script>

import { colorProp } from '../commonProps/colors'

export default {
  name: 'Box',

  props: {
    // eslint-disable-next-line vue/require-prop-types
    color: {
      ...colorProp,
      default: 'white'
    },
    tag: {
      type: String,
      required: false,
      default: 'div'
    },

    shadow: {
      type: String,
      required: false,
      default: 'light'
    }
  }
}
</script>
<style lang="scss" scoped>

@use '../styles/measures';
@use '../styles/shadows';

.paper {
  padding: 20px 20px 20px 28px;
  border-radius: measures.get('border-radius');
}

@each $name, $type in shadows.$list {
  .shadow-#{$name} {
    box-shadow: $type;
  }
}

</style>
