<template>
  <div class="input-base">
    <label
      @click="$refs.input.focus()"
      @focus="$refs.input.focus()"
      class="input-base__label"
      :for="name"
      v-if="label"
    >
      <typography
        :weight="700"
        :size="14"
        color="dark"
        tag="span"
      >
        {{ label }}
      </typography>
      <typography
        v-if="required"
        :weight="300"
        :size="14"
        color="dark"
        tag="span"
      >
        *
      </typography>
    </label>
    <div
      class="input-base__container"
      :class="[
        (focused && 'input-base__container--focused'),
        (isError && 'input-base__container--error'),
        (success && 'input-base__container--success')
      ]"
      ref="base"
    >
      <div class="input-base__input-wrapper">
        <slot
          v-if="$slots.default && $slots.default[0]"
        />
        <input
          v-else
          :autocomplete="!!$attrs.autocomplete"
          :autofocus="!!$attrs.autofocus"
          :required="!!$attrs.required"
          :placeholder="$attrs.placeholder"
          :pattern="$attrs.pattern"
          :max="$attrs.max"
          :min="$attrs.min"
          :maxlength="$attrs.maxlength"
          class="input-base__input"
          ref="input"
          :name="name && name.toLowerCase()"
          v-on="bindListeners()"
          :value="inputValue"
          @foucs="focusHandler"
          @blur="focusHandler"
        >
      </div>
      <div
        class="input-base__icon"
        v-if="$slots.icon"
      >
        <slot name="icon" />
      </div>
    </div>
    <ul
      class="input-base__subtext"
      v-if="(desc && !isError) || isError"
    >
      <template v-if="desc && !isError">
        <typography
          :weight="400"
          :size="12"
          color="gray-120"
        >
          {{ desc }}
        </typography>
      </template>
      <template v-if="isError">
        <li
          v-for="(error, index) in errors"
          :key="index"
        >
          <typography
            :size="12"
            color="error"
            :weight="400"
          >
            {{ error }}
          </typography>
        </li>
      </template>
    </ul>
  </div>
</template>

<script>

import { Typography } from 'components/core'
import { transform } from 'lodash'
import uuid from 'utils/uuid'

export default {
  name: 'InputView',

  inheritAttrs: false,

  components: {
    Typography
  },

  props: {
    desc: {
      type: String,
      required: false
    },
    errors: {
      type: Array,
      required: false,
      default: () => ([])
    },
    icon: {
      type: String,
      required: false
    },
    label: {
      type: String,
      required: false
    },
    name: {
      type: String,
      required: false
    },
    readOnly: {
      type: Boolean,
      required: false
    },
    success: {
      type: [String, Boolean],
      required: false
    },
    value: {
      type: String,
      required: false
    }
  },

  data: () => ({
    inputValue: '',
    focused: false
  }),

  computed: {
    isError () {
      return !!this.errors.length
    },

    required () {
      return 'required' in this.$attrs
    },

    fieldName () {
      return this.name?.toLowerCase() || uuid()
    }
  },

  methods: {
    focusHandler (e) {
      this.focused = e.type === 'focus'

      e.type === 'focus' && this.$listeners.focus && this.$emit('focus', e)
      e.type === 'blur' && this.$listeners.blur && this.$emit('blur', e)
    },

    bindListeners () {
      return transform(this.$listeners, (res, value, key) => {
        res[key] = e => {
          this.focused = e.type === 'focus'
          this.$emit(key, e)
        }
      }, {})
    },

    valueChange (value) {
      this.inputValue = value
    }
  },

  created () {
    this.$watch('value', this.valueChange, {
      immediate: true
    })
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/colors';
@use 'components/core/styles/measures';
@use 'components/core/styles/utils';

.input-base {
   background-color: colors.get('white');

  &__container {
    position: relative;
    border-radius: measures.get('border-radius');
    border: 1px solid colors.gray(40);
    padding: 10px 12px;
    transition: all .2s ease;
    @include utils.autofill-hack;
  }

  &--error {
    border-color: colors.get('error');
  }

  &--focused {
    border-color: colors.get('main');
  }

  &::placeholder {
    color: colors.gray(70);
  }

  &__input {
    border: 0;
    outline: 0;
    font-family: inherit;
    width: 100%;
    background-color: transparent;
    font-size: 14px;
  }

  &__label {
    display: inline-block;
    margin-bottom: 4px;
  }

  &__subtext {
    @include utils.reset-list;
    margin: 6px 0 0 2px;
    line-height: 1.4;
  }

  &__icon {
    position: absolute;
    right: 16px;
    top: 11px;
    cursor: pointer;
  }

  &__input-wrapper {
    width: calc(100% - 32px);
  }
}

</style>
