<template>
  <dropdown
    v-bind="{
      ...$props,
      ...$attrs
    }"
    :icon-component="icon"
    :items="countryItems"
    :filters="filterList"
    v-on="$listeners"
  />
</template>

<script>

import Dropdown from './Dropdown'
import CountryPickerIcon from 'components/core/base/BaseCountryList/CountryPickerIcon'
import countriesTransformMixin from 'components/core/base/BaseCountryList/countriesTransformMixin'
import dropdownProps from '../../commonProps/dropdownProps'

export default {
  components: {
    Dropdown
  },

  mixins: [
    countriesTransformMixin
  ],

  props: {
    ...dropdownProps,
    countryKey: {
      type: String,
      default: 'alpha2'
    },
    filter: Array
  },

  data: () => ({
    icon: CountryPickerIcon,
    displayText: null
  }),

  computed: {
    filterList () {
      return (this.multi && [
        {
          text: this.$t('eu'),
          fn: list => {
            this.displayText = this.$t('country.eu_countries')
            return list.filter(({ data }) => data.isEu)
          }
        },
        {
          text: this.$t('non_eu'),
          fn: list => {
            this.displayText = this.$t('country.non_eu_countries')
            return list.filter(({ data }) => !data.isEu)
          }
        },
        {
          text: this.$t('all'),
          fn: list => {
            this.displayText = this.$t('country.all')
            return list
          }
        },
        {
          text: this.$t('none'),
          fn: list => {
            this.displayText = this.$t('country.none')
            return []
          }
        }
      ]) || undefined
    }
  }
}
</script>
