<template>
  <div class="base-dropdown">
    <backdrop
      transparent
      no-transition
      v-show="open"
      @click.native="open = false"
    />
    <base-input
      @click.native="toggleOpen"
      @focus="focusTextHelper"
      :value="displayValue"
      :class="open && 'base-dropdown__input--open'"
      v-bind="{
        ...$props,
        ...$attrs
      }"
    >
      <icon
        slot="icon"
        type="calendar"
        :dimensions="17"
      />
    </base-input>
    <dropdown
      v-show="open"
      :value="initialValue"
      :format="format"
      @value="changeHandler"
      @keydown="keydownHandler"
      v-popper="{
        ref: baseRef,
        placement: 'bottom-start',
        popperModifiers: [{
          name: 'offset',
          options: {
            offset: [0, 3]
          }
        }]
      }"
    />
  </div>
</template>

<script>

import BaseInput from './Base'
import Dropdown from 'components/core/base/BaseDatepicker/BaseDatepickerPanel'
import datepickerProps from '../../commonProps/datepickerProps'
import popperDirective from 'directives/popper'
import { Backdrop, Icon } from 'components/core'

export default {
  name: 'BaseDropdown',

  inheritAttrs: false,

  components: {
    Backdrop,
    BaseInput,
    Dropdown,
    Icon
  },

  directives: {
    popper: popperDirective
  },

  props: datepickerProps,

  data: () => ({
    displayValue: null,
    inputRef: null,
    baseRef: null,
    initialValue: null,
    open: false
  }),

  methods: {
    focusTextHelper (e) {
    },

    changeHandler (date, format) {
      !this.multi && (this.open = false)
      this.$listeners.change && this.$emit('change', date, format)
      this.displayValue = format
    },

    keydownHandler (e) {
      this.$listeners.keydown && this.$emit('keydown', e)
    },

    toggleOpen () {
      this.open = !this.open
    }
  },

  mounted () {
    const { input, base } = this.$children[1].$refs
    this.inputRef = input
    this.baseRef = base
  },

  created () {
    const { value } = this

    if (value) {
      this.initialValue = value
      this.displayValue = String(value)
    }
  }
}
</script>
<style lang="scss" scoped>

@use 'components/core/styles/elevations';

::v-deep .base-dropdown__input--open .input-base__input-wrapper {
  position: relative;
  z-index: elevations.get('backdrop') + 1;
}

</style>
