<template>
  <div class="base-dropdown">
    <backdrop
      transparent
      no-transition
      v-show="open"
      @click.native="open = false"
    />
    <base-input
      @click.native="open = true"
      :value="valuesInputDisplay"
      :class="open && 'base-dropdown__input--open'"
      v-bind="{
        ...$props,
        ...$attrs
      }"
    >
      <arrow-icon
        class="base-dropdown__icon"
        :class="open ? 'base-dropdown__icon--open' : 'base-dropdown__icon--closed'"
        slot="icon"
        :direction="open ? 'down' : 'up'"
        :dimensions="14"
      />
    </base-input>
    <dropdown
      v-if="open"
      :items="items"
      :multi="multi"
      :icon-component="iconComponent"
      :filters="filters"
      :value="value"
      @change="changeHandler"
      v-popper="{
        ref: getBaseRef,
        placement: 'bottom-start',
        popperModifiers: [{
          name: 'offset',
          options: {
            offset: [0, 3]
          }
        }]
      }"
    />
  </div>
</template>

<script>

import BaseInput from './Base'
import Dropdown from 'components/core/base/BaseDropdown/BaseDropdownPanel'
import dropdownProps from '../../commonProps/dropdownProps'
import popperDirective from 'directives/popper'
import { Backdrop, ArrowIcon } from 'components/core'
import { transform } from 'lodash'

export default {
  name: 'BaseDropdown',

  inheritAttrs: false,

  components: {
    ArrowIcon,
    Backdrop,
    BaseInput,
    Dropdown
  },

  directives: {
    popper: popperDirective
  },

  props: dropdownProps,

  data: () => ({

    /**
     * Config array for the core dropdown
     */
    displayValue: [],

    /**
     * Open indicator
     */
    open: false
  }),

  computed: {

    /**
     * Since user can provide initial values only
     * through valid keys for items, normalize them
     * here for further use
     *
     * @return {Array}
     */
    normalInitialValues () {
      const {
        items,
        multi,
        value: initialVals
      } = this

      const resolveVal = Array.isArray(initialVals) && multi
        ? initialVals
        : [initialVals]

      return transform(items, (res, { value }, key) => {
        resolveVal.includes(key) && res.push({ value, key })
      }, [])
    },

    /**
     * Format for input display
     *
     * @return {String}
     */
    valuesInputDisplay () {
      return this.displayValue.map(({ value }) => value).join(', ')
    },

    /**
     * Get base input container ref
     *
     * @return {HTMLElement}
     */
    getBaseRef () {
      return this.$children[1].$refs?.base
    }
  },

  methods: {

    /**
     * Dropdown change handler
     *
     * @param {Object} data
     * @param {Boolean} preventClose
     */
    changeHandler (data, preventClose) {
      this.displayValue = data
      !preventClose && !this.multi && (this.open = false)
      this.$listeners.change && this.$emit('change', data)
    }
  },

  watch: {

    /**
     * Overrite dropdown values programaticly, and format
     * from keys to { key, value } config object
     */
    value: {
      immediate: true,
      handler (value) {
        this.displayValue = this.normalInitialValues
      }
    }
  }
}
</script>
<style lang="scss" scoped>

@use 'components/core/styles/elevations';

::v-deep .base-dropdown__input--open .input-base__input-wrapper {
  position: relative;
  z-index: elevations.get('backdrop') + 1; // Make inputs focusable
}

::v-deep .base-dropdown__icon {
  position: relative;

  &--closed {
    top: 2px;
  }
}

</style>
