<template functional>
  <div class="checkbox-container">
    <input
      type="checkbox"
      class="checkbox-hidden"
      :checked="props.checked"
      :disabled="props.disabled"
      :indeterminate="props.indeterminate"
      :class="[
        props.disabled && 'checkbox__disabled'
      ]"
      v-bind="data.attrs"
    >
    <span class="checkbox__checkmark" />
  </div>
</template>
<script>

export default {
  props: {
    checked: {
      type: Boolean,
      required: true,
      default: false
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    indeterminate: {
      type: Boolean,
      required: false
    }
  }
}

</script>
<style lang="scss" scoped>

@use '../styles/colors';

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;

  &:hover input ~ .checkbox__checkmark {
    background-color: colors.get('main')
  }
}

.checkbox-container {
  position: relative;
  cursor: pointer;
  user-select: none;
  height: 17px;
  width: 17px;
}

.checkbox-container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__checkmark {
  background-color: colors.get('white');
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border: 1px solid colors.get('light');
  border-radius: 5px;
}

input:checked ~ .checkbox__checkmark {
  background-color: colors.get('main');
  border-color: colors.get('main');
}

input:disabled ~ .checkbox__checkmark {
  border: 1px solid colors.get('gray-light');
}

.checkbox__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkbox__checkmark:after {
  display: block;
}

.checkbox-container .checkbox__checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox__disabled {

}

</style>
