<template functional>
  <div class="sk-shaper">
    <div
      class="sk-shapper__el"
      :class="[
        data.staticClass,
        props.color && `bg-${color}`,
        props.shape === 'avatar' && `sk-shaper__el--shape-avatar`,
        props.shape === 'line' && `sk-shaper__el--shape-line`
      ]"
      v-bind="data.attrs"
      v-on="listeners"
    />
  </div>
</template>

<script>

import { colorProp } from '../commonProps/colors'

export default {
  props: {
    // eslint-disable-next-line vue/require-prop-types
    color: {
      ...colorProp,
      default: 'gray-40'
    }
  }

}
</script>

<style lang="scss" scoped>

@use 'components/styles/colors';

$base-color: colors.get('white');
$shine-color: colors.gray(20);
$animation-duration: 1.6s;
$avatar-offset: 52 + 16;

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}

@keyframes shine-avatar {
  0% {
    background-position: -100px + $avatar-offset;
  }
  40%, 100% {
    background-position: 140px + $avatar-offset;
  }
}

</style>
