<template>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 48 48"
  ><title>contacts-2</title><g><path
    fill="#E86C60"
    d="M44,14V8c0-0.5522804-0.4476929-1-1-1h-4c-0.5522995,0-1,0.4477196-1,1v6c0,0.5522804,0.4477005,1,1,1h4 C43.5523071,15,44,14.5522804,44,14z"
  /> <path
    fill="#72C472"
    d="M44,24v-6c0-0.5522804-0.4476929-1-1-1h-4c-0.5522995,0-1,0.4477196-1,1v6c0,0.5522804,0.4477005,1,1,1h4 C43.5523071,25,44,24.5522804,44,24z"
  /> <path
    fill="#9bced3"
    d="M4,43.9983292C4,45.099247,4.9007525,46,6.0016718,46H36c2.2091408,0,4-1.7908592,4-4V6 c0-2.2091391-1.7908592-4-4-4H5.9927902C4.8922024,2,4,2.8922026,4,3.9927902V43.9983292z"
  /> <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    fill="#FFFFFF"
    d="M25,26h-4c-2.7613983,0-5,2.2385807-5,5 c0,0.5522804,0.4498978,1,1.0067978,1h11.9864044C29.549202,32,30,31.5468102,30,31C30,28.2385807,27.7613983,26,25,26z"
  /> <circle
    fill-rule="evenodd"
    clip-rule="evenodd"
    fill="#FFFFFF"
    cx="23"
    cy="20"
    r="4"
  /> <polygon
    fill="#ABDFFC"
    points="8,2.9565217 8,45.0434799 8,46 10,46 10,45.0434799 10,2.9565217 10,2 8,2 "
  /></g></svg>
</template>
