<template functional>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 40 40"
  >
    <g>
      <path
        d="M46,47H25a1,1,0,0,1-1-1V2a1,1,0,0,1,1.274-.962l21,6A1,1,0,0,1,47,8V46A1,1,0,0,1,46,47Z"
        fill="#82adb2"
      /><rect
        x="1"
        y="25"
        width="17.824"
        height="22"
        rx="1"
        fill="#e6e6e6"
      /><path
        d="M42,5.817V42a1,1,0,0,0,1,1h0a1,1,0,0,0,1-1V6.388Z"
        fill="#c8e9ec"
      /><path
        d="M37,4.388V42a1,1,0,0,0,1,1h0a1,1,0,0,0,1-1V4.96Z"
        fill="#c8e9ec"
      /><path
        d="M33,43h0a1,1,0,0,0,1-1V3.531l-2-.572V42A1,1,0,0,0,33,43Z"
        fill="#c8e9ec"
      /><path
        d="M28,43h0a1,1,0,0,0,1-1V2.1l-2-.571V42A1,1,0,0,0,28,43Z"
        fill="#c8e9ec"
      /><path
        d="M28,17H10a1,1,0,0,0-1,1V46a1,1,0,0,0,1,1H28a1,1,0,0,0,1-1V18A1,1,0,0,0,28,17Z"
        fill="#e86c60"
      /><rect
        x="13"
        y="21"
        width="12"
        height="4"
        rx="0.926"
        fill="#badefc"
      /><rect
        x="13"
        y="27"
        width="12"
        height="4"
        rx="0.828"
        fill="#badefc"
      /><rect
        x="13"
        y="33"
        width="12"
        height="4"
        rx="0.926"
        fill="#badefc"
      /><path
        d="M20,40H18a1,1,0,0,0-1,1v6h4V41A1,1,0,0,0,20,40Z"
        fill="#e6e6e6"
      />
    </g>
  </svg>
</template>
