<template functional>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 48 48"
  ><title>networking</title><g><polygon
    fill="#e86c60"
    points="35.18994,31.89844 26,25.00037 26,16 22,16 22,25.00049 12.81006,31.89844 15.21143,35.09766 23.99994,28.50079 32.78857,35.09766 "
  /> <circle
    fill="#9bced3"
    cx="24"
    cy="10"
    r="8"
  /> <circle
    fill="#9bced3"
    cx="10"
    cy="38"
    r="8"
  /> <circle
    fill="#9bced3"
    cx="38"
    cy="38"
    r="8"
  /></g></svg>
</template>
