<template>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 24 24"
  ><g><path d="M23,4H17V1a1,1,0,0,0-1-1H8A1,1,0,0,0,7,1V4H1A1,1,0,0,0,1,6H23a1,1,0,0,0,0-2ZM9,2h6V4H9Z" /><path
    d="M3,8V21a3,3,0,0,0,3,3H18a3,3,0,0,0,3-3V8ZM16.414,18.985,15,20.4l-3-3-3,3L7.586,18.985l3-3-3-3L9,11.571l3,3,3-3,1.414,1.414-3,3Z"
  /></g></svg>
</template>

<script>
