<template functional>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 48 48"
  ><title>comment-add</title><g> <path
    d="M44,7H10a3,3,0,0,0-3,3V45a1,1,0,0,0,1.641.769L20.362,36H44a3,3,0,0,0,3-3V10A3,3,0,0,0,44,7Z"
    fill="#9bced3"
  /> <path
    d="M1,11A10,10,0,1,0,11,1,10,10,0,0,0,1,11Z"
    fill="#e86c60"
  /> <path
    d="M12,7v3h3a1,1,0,0,1,0,2H12v3a1,1,0,0,1-2,0V12H7a1,1,0,0,1,0-2h3V7a1,1,0,0,1,2,0Z"
    fill="#e6e6e6"
  /> </g></svg>
</template>
