<template>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 48 48"
  ><g><path
    fill="#72C472"
    d="M13.09088,38.72729c1.03772-1.73883,1.90399-4.46204,0-7.27277 C11.82471,29.58533,9.45453,27.67419,9.45453,26c0-2.22504,5.40558-3.0401,7.27277-5.45453 c1.6507-2.13464-0.15009-5.9165-0.961-7.27509c-0.73334-1.22858-2.48688-3.20966-3.81641-4.45294C6.54291,12.61664,3,18.88977,3,26 c0,6.18292,2.68829,11.72412,6.94061,15.56708C11.28613,40.80756,12.65588,39.45618,13.09088,38.72729z"
  /> <path
    fill="#BADEFC"
    d="M24,5c-4.48773,0-8.63745,1.41956-12.05011,3.81744c1.32953,1.24329,3.08307,3.22437,3.81641,4.45294 c0.81091,1.35858,2.61169,5.14044,0.961,7.27509C14.86011,22.9599,9.45453,23.77496,9.45453,26 c0,1.67419,2.37018,3.58533,3.63635,5.45453c1.90399,2.81073,1.03772,5.53394,0,7.27277 c-0.435,0.72888-1.80475,2.08026-3.15027,2.83978C13.66486,44.9328,18.58496,47,24,47c0.32141,0,0.63409-0.03375,0.95197-0.04803 L24,46c-3.91669-3.16669-4.16669-13.58331,2-16c3.27222-1.28235,4.33282,5.87415,10.75,4.08331 c1.17212-0.32709,4.36157,1.74945,3.44946,5.28033C43.19812,35.73273,45,31.07684,45,26C45,14.40204,35.59796,5,24,5z"
  /> <path
    fill="#72C472"
    d="M36.75,34.08331C30.33282,35.87415,29.27222,28.71765,26,30c-6.16669,2.41669-5.91669,12.83331-2,16 l0.95197,0.95197c6.13165-0.27557,11.58557-3.15436,15.2475-7.58832C41.11157,35.83276,37.92212,33.75623,36.75,34.08331z"
  /> <path
    fill="#E86C60"
    d="M34,1c-4.97054,0-9,4.02942-9,9 c0,5.36948,6.8149,12.29799,8.58434,14.00643c0.23313,0.2251,0.59819,0.2251,0.83132,0C36.1851,22.29799,43,15.36948,43,10 C43,5.02942,38.97054,1,34,1z"
  /> <circle
    fill="#FFFFFF"
    cx="34"
    cy="10"
    r="3"
  /></g></svg>
</template>
