<template functional>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 48 48"
  ><g><path
    d="M24,1A23,23,0,1,0,47,24,23.026,23.026,0,0,0,24,1Z"
    fill="#e86c60"
  /> <path
    d="M24,23a1,1,0,0,1-1-1V10a1,1,0,0,1,2,0V22A1,1,0,0,1,24,23Z"
    fill="#fff"
  /> <path
    d="M24,37a13,13,0,0,1-8.667-22.689,1,1,0,1,1,1.334,1.49,11,11,0,1,0,14.606-.054,1,1,0,1,1,1.322-1.5A13,13,0,0,1,24,37Z"
    fill="#fff"
  /></g></svg>
</template>
