<template>
  <div>
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 12 12"
    ><g fill="#000000"><path
      d="M11,9H1a1,1,0,0,0,0,2H11a1,1,0,0,0,0-2Z"
      fill="#000000"
    /> <path
      d="M11,1H1A1,1,0,0,0,1,3H11a1,1,0,0,0,0-2Z"
      fill="#000000"
    /> <path d="M11,5H1A1,1,0,0,0,1,7H11a1,1,0,0,0,0-2Z" /></g></s/>
    </svg>
  </div>
</template>
