<template functional>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 48 48"
  ><title>fav-list</title><g><path
    d="M24.9,2.773l6.521,13.211L46,18.1a1,1,0,0,1,.554,1.706L36,30.09l2.49,14.52a1,1,0,0,1-1.451,1.054L24,38.81l-13.04,6.856A1,1,0,0,1,9.51,44.613L12,30.09,1.451,19.809A1,1,0,0,1,2.005,18.1l14.577-2.119L23.1,2.773A1,1,0,0,1,24.9,2.773Z"
    fill="#9bced3"
  /> <circle
    cx="34"
    cy="36"
    r="11"
    fill="#e86c60"
  /> <path
    d="M38,37H30a1,1,0,0,1,0-2h8a1,1,0,0,1,0,2Z"
    fill="#fff"
  /> <path
    d="M38,32H30a1,1,0,0,1,0-2h8a1,1,0,0,1,0,2Z"
    fill="#fff"
  /> <path
    d="M38,42H30a1,1,0,0,1,0-2h8a1,1,0,0,1,0,2Z"
    fill="#fff"
  /></g></svg>
</template>
