<template functional>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 48 48"
  ><title>privacy-settings</title><g><path
    d="M45.656,30.736l-4.929-3.729a16.807,16.807,0,0,0,0-6.012l4.927-3.732a1,1,0,0,0,.263-1.3l-4-6.928a1,1,0,0,0-1.256-.421l-5.707,2.407a17.132,17.132,0,0,0-5.2-3.016l-.768-6.13A1,1,0,0,0,28,1H20a1,1,0,0,0-.992.876l-.766,6.13a17.142,17.142,0,0,0-5.2,3.016l-5.7-2.407a1,1,0,0,0-1.255.421l-4,6.928a1,1,0,0,0,.263,1.3L7.269,21a16.984,16.984,0,0,0,0,6.016L2.344,30.739a1,1,0,0,0-.263,1.3l4,6.928a1,1,0,0,0,1.255.421l5.706-2.407A17.149,17.149,0,0,0,18.242,40l.768,6.13A1,1,0,0,0,20,47h8a1,1,0,0,0,.992-.876l.768-6.13a17.149,17.149,0,0,0,5.2-3.016l5.706,2.407a1,1,0,0,0,1.255-.421l4-6.928A1,1,0,0,0,45.656,30.736Z"
    fill="#9bced3"
  /><path
    d="M26,27.569V32a1,1,0,0,1-1,1H23a1,1,0,0,1-1-1V27.569a5,5,0,1,1,4,0Z"
    fill="#e86c60"
  /></g></svg>
</template>
