<template>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 48 48"
  ><g><path
    fill="#9bced3"
    d="M28,7h-8c-0.55225,0-1,0.44775-1,1v32c0,0.55225,0.44775,1,1,1h8c0.55225,0,1-0.44775,1-1V8 C29,7.44775,28.55225,7,28,7z"
  /> <path
    fill="#e6e6e6"
    d="M12,27H4c-0.55225,0-1,0.44775-1,1v12c0,0.55225,0.44775,1,1,1h8c0.55225,0,1-0.44775,1-1V28 C13,27.44775,12.55225,27,12,27z"
  /> <path
    fill="#e86c60"
    d="M44,17h-8c-0.55225,0-1,0.44775-1,1v22c0,0.55225,0.44775,1,1,1h8c0.55225,0,1-0.44775,1-1V18 C45,17.44775,44.55225,17,44,17z"
  /></g></svg>
</template>
