<template functional>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 48 48"
  ><title>handshake</title><g><path
    d="M43.775,24.428,25.013,5.6A8.877,8.877,0,0,0,18.739,3H15.414L13.707,1.293a1,1,0,0,0-1.414,0l-11,11a1,1,0,0,0,0,1.414L3,15.414v3.461c0,3.667,3.072,6.635,3.072,6.635L22.545,43.494a4.172,4.172,0,0,0,7.131-2.774,3.4,3.4,0,0,0,5.2-4.081,4.16,4.16,0,0,0,5.41-5.113,4.173,4.173,0,0,0,3.49-7.1Z"
    fill="#9bced3"
  /> <rect
    x="2.852"
    y="24.131"
    width="8.069"
    height="7.06"
    rx="3.53"
    ry="3.53"
    transform="translate(-17.542 12.971) rotate(-45)"
    fill="#e86c60"
  /> <rect
    x="7.161"
    y="28.716"
    width="8.609"
    height="7.048"
    rx="3.524"
    ry="3.524"
    transform="translate(-19.439 17.55) rotate(-45)"
    fill="#e86c60"
  /> <rect
    x="11.802"
    y="33.439"
    width="8.13"
    height="7.113"
    rx="3.557"
    ry="3.557"
    transform="translate(-21.513 22.056) rotate(-45)"
    fill="#e86c60"
  /> <rect
    x="16.501"
    y="38.115"
    width="7.611"
    height="6.488"
    rx="3.244"
    ry="3.244"
    transform="translate(-23.298 26.473) rotate(-45)"
    fill="#e86c60"
  /> <path
    d="M46.707,12.293l-11-11a1,1,0,0,0-1.414,0L32.586,3H29.261a8.877,8.877,0,0,0-6.274,2.6L13.6,14.991a3.384,3.384,0,0,0-1.04,2.492,3.26,3.26,0,0,0,5.083,2.6l7.341-4.656a8.384,8.384,0,0,0,5.622,2.08,8.551,8.551,0,0,0,4.826-1.454L43.245,23.9A9.155,9.155,0,0,0,45,18.875V15.414l1.707-1.707A1,1,0,0,0,46.707,12.293Z"
    fill="#e86c60"
  /></g></svg>
</template>
