<template>
  <component
    :is="tag"
    :class="resolveCssClasses"
  >
    <slot />
  </component>
</template>

<script>

import cssGeometryProps from '../commonProps/cssGeometryProps'
import breakpoints from '../styles/breakpoints.scss'
import { forOwn, kebabCase, transform } from 'lodash'

function createProps () {
  const withBreakpoints = transform(breakpoints, (data, _size, bp) => {
    forOwn(cssGeometryProps, (type, cssProp) => {
      data[`${bp}:${cssProp}`] = type
    })
  }, {})

  return {
    ...cssGeometryProps,
    ...withBreakpoints
  }
}

export default {
  name: 'Box',
  props: {
    ...createProps(),

    tag: String
  },

  computed: {
    resolveCssClasses () {
      const { $props } = this

      return transform($props, (data, value, name) => {
        const className = `${kebabCase(name)}-${kebabCase(value)}`
        value && (data.push(className))
      }, [])
    }
  }
}
</script>

<style lang="scss" scoped>

@use 'sass:string';
@use 'sass:map';
@use '../styles/breakpoints';

@mixin base-classname ($prop, $value, $bp: null) {
  @if $bp != null {
    .#{$bp}-#{$prop}-#{$value} {
      #{$prop}: string.unquote($value);
    }
  } @else {
    .#{$prop}-#{$value} {
      #{$prop}: string.unquote($value);
    }
  }
}

@each $bp, $size in breakpoints.$bps {
  @include breakpoints.screen($size) using ($_size) {
    @each $prop in (
      'none',
      'block',
      'inline-block',
      'flex',
      'table',
      'table-row',
      'table',
      'inherit',
      'contents',
      'root'
    ) {
      @include base-classname('display', $prop, $bp);
    }

    @each $prop in (
      'auto',
      'flex-start',
      'flex-end',
      'center',
      'baseline',
      'stretch'
    ) {
      .align-#{$prop} {
        align-items: string.unquote($prop);
      }
    }

    @each $prop in (
      'flex-start',
      'flex-end',
      'center',
      'space-between',
      'space-around',
      'space-evenly'
    ) {
      .justify-#{$prop} {
        justify-content: string.unquote($prop);
      }
    }

    @each $prop in (
      'relative',
      'absolute',
      'sticky',
      'fixed'
    ) {
      .pos-#{$prop} {
        position: $prop;
      }
    }

    .dir {
      &-column {
        flex-direction: column;
      }

      &-row {
        flex-direction: row;
      }
    }

    .wrap {
      &-wrap {
        flex-wrap: wrap;
      }

      &-nowrap {
        flex-wrap: nowrap;
      }
    }
  }
}

</style>
