<template>
  <div class="login">
    <span>{{ message.text }} </span>
    <br />
    <input type="text" name="email" v-model="email" />
    <br />
    <input type="password" name="password" v-model="password" />
    <br />
    <input type="submit" @click="submitHandler" />
  </div>
</template>

<script>
export default {
  props: {
    message: {
      type: Object,
      required: true,
      default: () => ({}),
    },
  },

  data: () => ({
    email: "",
    password: "",
  }),

  methods: {
    submitHandler() {
      this.$emit("submit", {
        email: this.email,
        password: this.password,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.login {
  width: 600px;
  margin: auto;
  position: relative;
  top: 200px;
}
</style>
