<template>
  <div class="input-dropdown">
    <div class="input-dropdown__list">
      <li
        v-for="(item, key) in items"
        class="input-dropdown__list-item"
        :class="[
          isChecked(key) && 'input-dropdown__list-item--selected'
        ]"
        @click.stop="change(item, key)"
        :key="key"
        :ref="`node-${key}`"
      >
        <div class="input-dropdown__item-data">
          <checkbox
            class="input-dropdown__checkbox"
            :checked="!item.disabled && isChecked(key)"
            :disabled="item.disabled"
            v-if="multi"
          />
          <div
            class="input-dropdown__icon"
            v-if="iconComponent"
          >
              <component
                :is="iconComponent"
                :type="item.icon"
              />
          </div>
          <typography
            :color="item.heading && 'dark' || (item.disabled && 'gray-light')"
            :class="item.heading && 'input-dropdown__title-txt'"
            :weight="(item.heading && 500) || typographyProps.weight"
            v-bind="typographyProps"
            :title="item.heading || item.value"
          >
            {{ item.heading || item.value }}
          </typography>
        </div>
      </li>
    </div>
  </div>
</template>

<script>

import { Typography, Checkbox } from 'components/core'
import { forOwn } from 'lodash'

export default {
  name: 'BaseDropdownPanel',

  components: {
    Checkbox,
    Typography
  },

  props: {
    filters: {
      type: Array,
      required: false
    },
    iconComponent: {
      type: Object,
      required: false
    },
    items: {
      type: Object,
      required: false
    },
    multi: {
      type: Boolean,
      required: false
    },
    search: {
      type: Boolean,
      required: false
    },
    typographyProps: {
      type: Object,
      required: false,
      default: () => ({
        tag: 'span',
        weight: 400,
        size: 13
      })
    },
    value: {
      type: [String, Array],
      reqired: true
    }
  },

  data () {
    const internalValue = this.multi
      ? []
      : ''

    return {
      internalValue
    }
  },

  methods: {
    change (data, key) {
      const value = data.value?.value || data.value

      if (this.multi) {
        const index = this.internalValue.findIndex(o => o.key === key)

        index === -1
          ? this.internalValue.push({ value, key })
          : this.internalValue.splice(index, 1)
      } else {
        this.internalValue = value
      }

      this.$emit('change', this.internalValue)
    },

    isChecked (key) {
      return this.internalValue.some(o => o.key === key)
    },

    setInitialValues () {
      const { isArray } = Array
      const {
        items,
        multi,
        value: initailValue
      } = this

      if (!isArray(initailValue)) {
        return
      }

      forOwn(items, ({ value }, key) => {
        const resolvedValue = initailValue.includes(key)
        if (resolvedValue) {
          multi
            ? this.internalValue.push({
              value,
              key
            })
            : (this.internalValue = {
              value,
              key
            })
        }
      })
    }
  },

  created () {
    this.setInitialValues()
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/utils';
@use 'components/core/styles/colors';
@use 'components/core/styles/shadows';
@use 'components/core/styles/measures';
@use 'components/core/styles/scrollbars';

.input-dropdown {
  width: 360px;
  position: relative;
  z-index: 99;
}

.input-dropdown__list {
  @include utils.reset-list;
  @include scrollbars.dropdown;
  max-height: 200px;
  background-color: white;
  width: 100%;
  padding: 6px;
  box-shadow: shadows.get('main');
  overflow: hidden auto;
  border-radius: measures.get('border-radius');
  transition: 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);

  &-item {
    width: 100%;
    padding: 7px 14px;
    cursor: pointer;

    &--current,
    &:hover {
      background-color: colors.get('main-low-opacity');
    }
  }
}

.input-dropdown__icon {
  margin: 0 10px;
}

::v-deep .typography {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::v-deep .input-dropdown--title-txt {
  cursor: auto;
}

::v-deep .resize-observer {
  display: none;
}

.input-dropdown__list-item--selected {
  background-color: colors.get('main-low-opacity');
}

.input-dropdown__item-data {
  @include utils.flex(initial, center);
}

::v-deep .checkbox-container {
  margin-right: 7px;
}

.input-dropdown__filters {
  width: 100%;
  display: flex;
}

::v-deep .input-dropdown__filters-text--checked {
  background-color: colors.get('main-low-opacity');
}

::v-deep .input-dropdown__filter-text {
  padding: 16px 8px;
  margin-bottom: 6px;
  width: 25%;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: colors.get('main-low-opacity');
  }
}

</style>
