<template>
  <recycle-scroller>
    <slot />
  </recycle-scroller>
</template>

<script>

import { RecycleScroller } from 'vue-virtual-scroller'

export default {

}
</script>

<style lang="scss" scoped>

</style>
