<template>
  <div
    :class="classes"
    :style="{ width: `${rowWidth}px` }"
  >
    <slot />
  </div>
</template>

<script>

export default {
  props: {
    classes: [Array, String],
    rowWidth: Number
  }
}

</script>
