<template>
  <div
    class="table-row__cell"
  >
    <template v-if="Array.isArray(resolvedRow)">
      <typography
        class="table-row__cell-text"
        :size="13"
        :weight="600"
      >
        {{ resolvedRow[0] }}
      </typography>
      <typography
        class="table-row__cell-text"
        :size="13"
        color="light"
      >
        {{ resolvedRow[1] }}
      </typography>
    </template>
    <component
      v-else-if="isVueComp(resolvedRow.component)"
      :is="resolvedRow.component"
      v-bind="resolvedRow.props"
    />
    <typography v-else>
      {{ resolvedRow }}
    </typography>
  </div>
</template>

<script>

import { Typography } from 'components/core'
import { isPlainObject, isFunction } from 'lodash'

export default {
  name: 'TableCell',

  components: {
    Typography
  },

  props: {
    configEntry: [Object, Array, String],
    row: Object
  },

  computed: {
    resolvedRow () {
      const entry = this.configEntry
      const row = this.row

      if (Array.isArray(entry)) {
        return entry.map(key => {
          if (isPlainObject(key)) {
            if (key.component && this.isVueComp(key.component)) {
              return {
                component: key.component,
                props: key?.props || {}
              }
            }

            if (key.transform) {
              return key.transform(row)
            }

            return row[key.name]
          }

          return row[key]
        })
      } else if (isPlainObject(entry)) {
        if (entry.component && this.isVueComp(entry.component)) {
          const resolvePropsCaller = isFunction(entry.props) ? entry.props(row) : entry.props
          const mergeProps = {
            ...resolvePropsCaller,
            row
          }
          return {
            component: entry.component,
            props: mergeProps
          }
        }

        if (entry.transform) {
          return entry.transform(row)
        }

        const singleField = row[entry.name]

        if (!singleField) {
          return '-'
        }

        return singleField
      }

      return this.row[entry]
    }
  },

  methods: {
    isVueComp (entry) {
      return entry?.render && entry?._compiled
    }
  }
}
</script>
<style lang="scss" scoped>

::v-deep .table-row__cell-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

</style>
