<template>
  <div class="table-row">
    <div class="table-row__controls" />
    <paper
      class="table-row__paper"
      :class="isChecked && 'table-row__checked'"
      :color="isChecked ? 'main-low-opacity' : 'white'"
      role="row"
    >
      <div
        class="row"
        :style="{
          width: `${totalRowWidth}px`,
          transform: `translateX(${slideX}px)`
        }"
      >
        <cell-renderer
          v-if="checkbox"
          classes="table-row--gap table-row__checkbox-wrapper "
          @click.native.stop="checkAction"
        >
          <checkbox
            :checked="isChecked"
          />
        </cell-renderer>
        <cell-renderer
          v-for="(field, index) in dataConfig"
          :key="index"
          :classes="Array.isArray(field) ? field[0].classes : field.classes"
          :row-width="(Array.isArray(field) ? field[0].width : field.width)"
        >
          <cell
            class="table-row--gap"
            :key="index"
            :config-entry="field"
            :row="row"
          />
        </cell-renderer>
      </div>
    </paper>
  </div>
</template>

<script>

import { Checkbox, Paper } from 'components/core'
import Cell from './Cell'
import CellRenderer from './CellRenderer'

export default {
  name: 'TableRow',

  components: {
    CellRenderer,
    Cell,
    Checkbox,
    Paper
  },

  props: {
    dataConfig: [Array, Object],
    checkbox: Boolean,
    checkboxData: Array,
    checkboxKey: String,
    row: Object,
    totalRowWidth: Number,
    slideX: Number
  },

  computed: {
    isChecked () {
      return this.checkboxData.includes(this.row[this.checkboxKey])
    }
  },

  methods: {
    checkAction () {
      const id = this.row[this.checkboxKey]
      this.$emit('check-row', id)
    }
  },

  created () {
    if (this.checkbox) {
      this.colCount = 1
    }
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/colors';

.row {
  display: flex;
  overflow: hidden;
  transition: transform .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

::v-deep .table-row__paper {
  margin: 12px 0;
  border: 1px solid transparent;
  transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  overflow: hidden;
}

.table-row__checkbox-wrapper {
  display: flex;
  align-items: center;
  width: 60px;
}

</style>
