<template>
  <div class="skeleton">
    <paper class="skeleton-paper">
      <div class="row">
        <template
          v-for="({ width, type }, index) in widthList"
        >
          <div
            class="skeleton__row table-cell"
            :style="{ minWidth: `${width}px` }"
            v-if="type === 'lines'"
            :key="index"
          >
            <p />
            <p />
          </div>
          <div
            class="skeleton__row table-cell"
            :style="{ minWidth: `${width}px` }"
            v-else-if="type === 'icon'"
            :key="index"
          >
            <div class="table-icon" />
          </div>
          <div
            v-else-if="!type"
            :style="{ minWidth: `${width}px` }"
            :key="index"
          />
        </template>
      </div>
    </paper>
  </div>
</template>

<script>

import { Paper } from 'components/core'

export default {
  name: 'Skeleton',

  components: {
    Paper
  },

  props: {
    checkbox: Boolean,
    dataConfig: Array
  },

  data: () => ({
    widthList: null
  }),

  methods: {
    calculateWidths () {
      const MIN_FIELD_W = 150
      const { $el, dataConfig, checkbox } = this
      const { width } = $el.getBoundingClientRect()
      const { isArray } = Array
      const items = [{
        width: checkbox ? 60 : 0,
        type: null
      }]
      let sum = items[0].width

      for (let i = 0; i < dataConfig.length; i++) {
        const item = dataConfig[i]
        const curItem = isArray(item)
          ? item[0]
          : item
        const { width: curWidth, skeleton: curType } = curItem
        const type = curType || ((curType === null) ? null : 'lines')

        if (width > sum) {
          sum += curWidth
          items.push({ type, width: curWidth })
        } else {
          const diff = sum - width
          const MARGIN = 40 // Need this for overflow issue

          if (diff < MIN_FIELD_W) {
            const len = items.length - 1
            const last = items[len]
            items.splice(len, 1, {
              width: last.width - (diff + MARGIN),
              type
            })
          } else {
            items.push({ width: diff, type })
          }

          break
        }
      }

      this.widthList = items
    }
  },

  mounted () {
    this.calculateWidths()
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/measures';

.skeleton {
  margin-top: 12px;
}

.row {
  display: flex;
  height: 34px;
}

.skeleton-paper__checkbox-gap:empty {
  width: 60px;
  &:before {
    display: block;
    width: inherit;
    content: "";
  }
}

.skeleton__row {
  direction: ltr;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
  padding-right: 40px;

  &::before {
     content: " ";
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 50%;
     z-index: 1;
     width: 500%;
     margin-left: -250%;
     animation: phAnimation 1s linear infinite;
     background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
   }
}

.table-cell p:empty {
  width: 100%;
  margin: 0 0 7.5px 0;
  background-color: #ced4da;
  border-radius: measures.get('border-radius');
}

.table-icon:empty {
  margin-top: 1px;
  position: relative;
  width: 70%;
  height: 75%;
  background-color: #ced4da;
  border-radius: 50%;
  overflow: hidden;

  &:before {
    content: " ";
    display: block;
    padding-top: 100%;
  }
}

@keyframes phAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}

</style>
