<template>
  <div
    role="table"
    class="data-table__body"
  >
    <div
      class="data-table-body__scroller"
      v-show="!loader && rows.length > 0"
    >
      <row
        v-for="(item, index) in rows"
        :key="index"
        :data-config="dataConfig"
        :checkbox="checkbox"
        :checkbox-data="checkboxData"
        :checkbox-key="checkboxKey"
        :row="item"
        :total-row-width="totalRowWidth"
        :slide-x="slideX"
        @check-row="rowCheckAction"
        @click.native="rowClick($event, item)"
      />
    </div>
    <div v-show="loader">
      <skeleton
        :checkbox="checkbox"
        :data-config="dataConfig"
        :total-row-width="totalRowWidth"
      />
      <skeleton
        :checkbox="checkbox"
        :data-config="dataConfig"
        :total-row-width="totalRowWidth"
      />
    </div>
    <div
      class="dtbody__no-data"
      v-if="!loader && !rows.length"
    >
      <paper class="dtbody__paper">
        <typography
          tag="h3"
          color="gray-70"
          :size="22"
        >
          {{ $t('info.nodata') }}
        </typography>
      </paper>
    </div>
  </div>
</template>

<script>

import { FadeTransition } from 'components/transitions'
import { Paper, Typography } from 'components/core'
import Skeleton from './Skeleton'
import Row from './Row'
import scrollTimerMixin from './scrollTimerMixin'

export default {
  name: 'TableBody',

  mixins: [
    scrollTimerMixin
  ],

  components: {
    FadeTransition,
    Paper,
    Row,
    Skeleton,
    Typography
  },

  data: () => ({
    loadedFirst: false
  }),

  props: {
    dataConfig: [Array, Object],
    checkboxData: Array,
    loader: Boolean,
    checkbox: Boolean,
    checkboxKey: String,
    count: Number,
    rows: Array,
    totalRowWidth: Number,
    slideX: Number
  },

  methods: {
    rowCheckAction (id) {
      this.$emit('checkbox-data', id)
    },

    rowClick (e, data) {
      this.$emit('row-click', e, data)
    }
  },

  created () {
    const unwatch = this.$watch('loader', loaded => {
      this.loadedFirst = !loaded
      unwatch && unwatch()
    }, { immediate: true })
  }
}
</script>
<style lang="scss" scoped>

::v-deep .resize-observer {
  display: none;
}

.dtbody {
  &__no-data {
    margin-top: 20px;
  }
}

::v-deep .dtbody__paper {
  padding: 40px 30px;
}

</style>
