<template>
  <div class="breadcrumbs">
    <template v-for="(link, index) in path">
      <mc-link
        v-if="!isLast(index)"
        :key="link.name"
        :to="link.url"
        color="main"
        :size="12.5"
        :weight="500"
      >
        {{ link.name }}
      </mc-link>
      <typography
        v-else
        :key="link.name"
        tag="span"
        color="light"
      >
        {{ name || link.name }}
      </typography>
      <typography
        v-if="!isLast(index)"
        class="breadcrumbs__arrow"
        color="light"
        tag="span"
        :key="link.name"
      >
        >
      </typography>
    </template>
  </div>
</template>

<script>

import { McLink, Typography } from '..'
import UrlPath from 'utils/UrlPath'

export default {
  components: {
    McLink,
    Typography
  },

  props: {
    bindParamKey: {
      type: String,
      default: 'id'
    },

    name: {
      type: String
    }
  },

  data: () => ({
    currentPage: null
  }),

  computed: {
    path () {
      let url = ''
      const data = []
      const root = new UrlPath()
      const { path, name } = this.$route
      const routes = path
        .split('/')
        .filter(v => v)
        .slice(1)

      routes.unshift(root)

      for (let i = 0; i < routes.length; i++) {
        const curRouteName = routes[i]
        url += `/${curRouteName}`
        const { route } = this.$router.resolve(url)

        if (route.meta?.noBreadcrumb) {
          continue
        }

        const parKey = this.bindParamKey
        const routeName = (route.name === name && parKey && parKey in route.params)
          ? `${this.$t(route.name)} - ${route.params[parKey]}`
          : this.$t(route.name)

        data.push({
          url: route.path,
          name: routeName
        })
      }

      return data
    }
  },

  methods: {
    isLast (index) {
      return this.path.length - 1 === index
    }
  }
}

</script>

<style lang="scss" scoped>

::v-deep .breadcrumbs__arrow {
  margin: 0 10px;
}

</style>
