<template>
  <div>
    <template v-if="!loading">
      <template v-if="!customerNotFound">
        <form-container
          autocomplete="off"
          name="customers_modify"
          :validator-scheema="validatorScheema"
          @submit="onSubmit"
        >
          <view-box
            :title="this.$t('forms.general')"
            :desc="$route.params.id
              ? this.$t('routeNames.customers_edit_desc', { customer: values.name })
              : this.$t('routeNames.customers_add_desc')
            "
          >
            <form-group
              :fields="fields"
              :values="values"
            />
          </view-box>
        </form-container>
      </template>
      <friendly-err-block
        title="Customer not found"
        v-else
      >
        Sorry the customer is not found. <br>
        <router-link to="/admin/dashboard/customers/modify">
          Add new ?
        </router-link>
      </friendly-err-block>
    </template>
  </div>
</template>

<script>

import { createNamespacedHelpers } from 'vuex'
import { ViewBox, FormContainer, FormGroup, FriendlyErrBlock } from 'components/layout'
import { VLOADER_SET_PROPS } from 'store/modules/vLoader/types'
import { get, post, put } from 'services/api'

const { mapState } = createNamespacedHelpers('user')
const { mapMutations } = createNamespacedHelpers('vloader')

export default {
  name: 'CustomersAdd',

  components: {
    FriendlyErrBlock,
    FormContainer,
    FormGroup,
    ViewBox
  },

  data () {
    return {
      values: {},
      loading: false,
      customerNotFound: false,
      validatorScheema: {
        name: [
          'isEmpty',
          { name: 'minMax', params: [3, 50] }
        ],
        email: ['isEmpty', 'email'],
        address_1: ['isEmpty'],
        country_id: ['isEmpty'],
        post_code: ['isEmpty'],
        city: ['isEmpty']
      },

      fields: [
        [
          {
            variant: 'base',
            desc: 'Customer name explaining yout actual name that will be used somewhere',
            name: 'name',
            label: this.$tc('forms.name', 1),
            required: true,
            value: 'bla',
            validator: ['isEmpty', { name: 'minMax', params: [3, 10] }]
          },
          {
            variant: 'base',
            type: 'email',
            name: 'email',
            label: this.$t('forms.email'),
            required: true,
            validator: ['isEmpty', 'email']
          }
        ],
        [
          {
            variant: 'base',
            desc: 'Customer name explaining yout actual name that will be used somewhere',
            name: 'address_1',
            label: this.$t('fields.address'),
            required: true,
            validator: ['isEmpty']
          },
          {
            variant: 'country',
            name: 'country_id',
            label: this.$tc('forms.country', 2),
            countryKey: 'id',
            required: true,
            validator: ['isEmpty']
          }
        ],
        [
          {
            variant: 'base',
            name: 'post_code',
            label: this.$t('forms.post_code', 2),
            required: true,
            validator: ['isEmpty']
          },
          {
            variant: 'base',
            desc: 'Customer name explaining yout actual name that will be used somewhere',
            name: 'city',
            value: 'Belgrade',
            label: this.$t('forms.city', 2),
            required: true,
            validator: ['isEmpty']
          }
        ]
      ]
    }
  },

  computed: {
    breadcrumbCurrent () {
      const { name } = this.values

      return this.isAdd
        ? (name || this.$t('forms.edit'))
        : this.$t('forms.add')
    },

    isAdd () {
      return !this.$route.params.id
    },

    ...mapState({
      companyId: ({ data }) => data?.company_id
    })
  },

  methods: {
    ...mapMutations({
      setLoading: VLOADER_SET_PROPS
    }),

    async onSubmit (postData) {
      this.setLoading({
        loading: true,
        text: 'Please do not leave the page, until the request is finished',
        title: 'Processing'
      })

      const { id } = this.$route.params
      const mergeData = {
        ...postData,
        company_id: this.companyId,
        address_2: 'test'
      }

      try {
        const method = id ? put : post
        const url = id ? `customer/${id}` : 'customer'
        const { data } = await method(url, mergeData)

        id && this.$router.push({
          append: true,
          path: id,
          props: {
            customerData: data
          }
        })
      } catch (e) {
      } finally {
        this.setLoading({
          loading: false,
          destroy: true
        })
      }
    },

    async fetchById (id) {
      try {
        const { data } = await get(`customer/${id}`)
        this.values = data
      } catch ({ response }) {
        this.customerNotFound = true
      } finally {
        this.loading = false
      }
    }
  },

  watch: {
    $route: {
      immediate: true,
      handler ({ params }) {
        params.id && (this.loading = true) && this.fetchById(params.id)
        this.isAdd && (this.loading = this.customerNotFound = false)
      }
    }
  },

  created () {
    this.$emit('loading', true)
  }
}
</script>
