html {
  font-family: 'Euclid Circular A';
}

body {
  margin:0;
  padding:0;
  font-size: 1.2em;
}

* {
  box-sizing: border-box;
}

.router-link-active {
  color: var(--color-main);
  text-decoration: none;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
