@font-face {
  font-family: 'Euclid Circular A';
  src: url('~assets/fonts/euclid/EuclidCircularA-Bold.eot');
  src: local('Euclid Circular A Bold'), local('EuclidCircularA-Bold'),
      url('~assets/fonts/euclid/EuclidCircularA-Bold.eot?#iefix') format('embedded-opentype'),
      url('~assets/fonts/euclid/EuclidCircularA-Bold.woff2') format('woff2'),
      url('~assets/fonts/euclid/EuclidCircularA-Bold.woff') format('woff'),
      url('~assets/fonts/euclid/EuclidCircularA-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('~assets/fonts/euclid/EuclidCircularA-Light.eot');
  src: local('Euclid Circular A Light'), local('EuclidCircularA-Light'),
      url('~assets/fonts/euclid/EuclidCircularA-Light.eot?#iefix') format('embedded-opentype'),
      url('~assets/fonts/euclid/EuclidCircularA-Light.woff2') format('woff2'),
      url('~assets/fonts/euclid/EuclidCircularA-Light.woff') format('woff'),
      url('~assets/fonts/euclid/EuclidCircularA-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('~assets/fonts/euclid/EuclidCircularA-BoldItalic.eot');
  src: local('Euclid Circular A Bold Italic'), local('EuclidCircularA-BoldItalic'),
      url('~assets/fonts/euclid/EuclidCircularA-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('~assets/fonts/euclid/EuclidCircularA-BoldItalic.woff2') format('woff2'),
      url('~assets/fonts/euclid/EuclidCircularA-BoldItalic.woff') format('woff'),
      url('~assets/fonts/euclid/EuclidCircularA-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('~assets/fonts/euclid/EuclidCircularA-LightItalic.eot');
  src: local('Euclid Circular A Light Italic'), local('EuclidCircularA-LightItalic'),
      url('~assets/fonts/euclid/EuclidCircularA-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('~assets/fonts/euclid/EuclidCircularA-LightItalic.woff2') format('woff2'),
      url('~assets/fonts/euclid/EuclidCircularA-LightItalic.woff') format('woff'),
      url('~assets/fonts/euclid/EuclidCircularA-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('~assets/fonts/euclid/EuclidCircularA-Regular.eot');
  src: local('Euclid Circular A Regular'), local('EuclidCircularA-Regular'),
      url('~assets/fonts/euclid/EuclidCircularA-Regular.eot?#iefix') format('embedded-opentype'),
      url('~assets/fonts/euclid/EuclidCircularA-Regular.woff2') format('woff2'),
      url('~assets/fonts/euclid/EuclidCircularA-Regular.woff') format('woff'),
      url('~assets/fonts/euclid/EuclidCircularA-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('~assets/fonts/euclid/EuclidCircularA-SemiBold.eot');
  src: local('Euclid Circular A SemiBold'), local('EuclidCircularA-SemiBold'),
      url('~assets/fonts/euclid/EuclidCircularA-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('~assets/fonts/euclid/EuclidCircularA-SemiBold.woff2') format('woff2'),
      url('~assets/fonts/euclid/EuclidCircularA-SemiBold.woff') format('woff'),
      url('~assets/fonts/euclid/EuclidCircularA-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('~assets/fonts/euclid/EuclidCircularA-Medium.eot');
  src: local('Euclid Circular A Medium'), local('EuclidCircularA-Medium'),
      url('~assets/fonts/euclid/EuclidCircularA-Medium.eot?#iefix') format('embedded-opentype'),
      url('~assets/fonts/euclid/EuclidCircularA-Medium.woff2') format('woff2'),
      url('~assets/fonts/euclid/EuclidCircularA-Medium.woff') format('woff'),
      url('~assets/fonts/euclid/EuclidCircularA-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('~assets/fonts/euclid/EuclidCircularA-Italic.eot');
  src: local('Euclid Circular A Italic'), local('EuclidCircularA-Italic'),
      url('~assets/fonts/euclid/EuclidCircularA-Italic.eot?#iefix') format('embedded-opentype'),
      url('~assets/fonts/euclid/EuclidCircularA-Italic.woff2') format('woff2'),
      url('~assets/fonts/euclid/EuclidCircularA-Italic.woff') format('woff'),
      url('~assets/fonts/euclid/EuclidCircularA-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('~assets/fonts/euclid/EuclidCircularA-SemiBoldItalic.eot');
  src: local('Euclid Circular A SemiBold Italic'), local('EuclidCircularA-SemiBoldItalic'),
      url('~assets/fonts/euclid/EuclidCircularA-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('~assets/fonts/euclid/EuclidCircularA-SemiBoldItalic.woff2') format('woff2'),
      url('~assets/fonts/euclid/EuclidCircularA-SemiBoldItalic.woff') format('woff'),
      url('~assets/fonts/euclid/EuclidCircularA-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('~assets/fonts/euclid/EuclidCircularA-MediumItalic.eot');
  src: local('Euclid Circular A Medium Italic'), local('EuclidCircularA-MediumItalic'),
      url('~assets/fonts/euclid/EuclidCircularA-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('~assets/fonts/euclid/EuclidCircularA-MediumItalic.woff2') format('woff2'),
      url('~assets/fonts/euclid/EuclidCircularA-MediumItalic.woff') format('woff'),
      url('~assets/fonts/euclid/EuclidCircularA-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}