<template>
  <grid container>
    <breadcrumbs />
    <router-view />
  </grid>
</template>

<script>

import { Breadcrumbs, Grid } from 'components/core'

export default {
  components: {
    Breadcrumbs,
    Grid
  }
}
</script>

<style lang="scss" scoped>

</style>
