<template>
  <fade-transition
    v-if="!noTransition"
    v-bind="transitionProps"
  >
    <div
      class="backdrop"
      :class="transparent && 'backdrop__transparent'"
    />
  </fade-transition>
  <div
    v-else
    class="backdrop"
    :class="transparent && 'backdrop__transparent'"
  />
</template>

<script>

import { FadeTransition } from 'components/transitions'

export default {
  name: 'Backdrop',

  components: {
    FadeTransition
  },

  props: {
    transparent: {
      type: Boolean,
      required: false
    },
    transitionProps: {
      type: Object,
      default: () => ({})
    },
    noTransition: {
      type: Boolean,
      required: false
    }
  }
}
</script>

<style lang="scss" scoped>

@use '../styles/elevations';

.backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: elevations.get('backdrop');
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  overflow: hidden;
}

.backdrop__transparent {
  opacity: 0;
  background-color: transparent;
}

</style>
