<template functional>
  <div class="spinner">
    <div
      class="double-bounce1"
      :class="props.color1"
    />
    <div
      class="double-bounce2"
      :class="props.color2"
    />
  </div>
</template>

<script>

export default {
  props: {
    color1: String,
    color2: String
  }
}

</script>

<style lang="scss" scoped>

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: .9;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { transform: scale(0.0) }
  50% { transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    transform: scale(1.0);
  }
}

</style>
