<template>
  <data-table
    :data-config="dataConfig"
    :fetch-fn="fetchFn"
    :heading="$tc('routeNames.customers', 2)"
    :rows="tableData"
    :loader="loader"
    :side-note="sideNote"
    :show-filter="showFilter"
    table-name="customers_index"
    :checkbox="false"
    @hide-filter="showFilter = false"
    @row-click="rowClick"
    @checkbox-data="setDeleteItems"
  >
    <btn-dropdown
      icon-props="arrow"
      direction="down"
      color="gray-light"
      :panel="[
        { name: 'filter', handler: filterHandler },
        { name: 'Manually', importManually },
        { name: 'Import from file', handler: importFromFile }
      ]"
    >
      {{ $t('actions.actions') }}
    </btn-dropdown>
    <btn-dropdown
      icon-props="add"
      color="main"
      :panel="[
        { name: 'Manually', handler: importManually },
        { name: 'Import from file', handler: importFromFile }
      ]"
    >
      {{ $t('actions.add_customer') }}
    </btn-dropdown>
  </data-table>
</template>

<script>

import { DataTable, BtnDropdown } from 'components/core'
import { IconCell } from 'components/core/DataTable'
import { get } from 'services/api'

export default {
  components: {
    BtnDropdown,
    DataTable
  },

  data () {
    return {
      tableData: [],
      checkboxData: [],
      showDeletePrompt: false,
      loader: true,
      sideNote: null,
      count: null,
      entity: null,
      showFilter: false,
      dataConfig: [
        {
          name: 'type',
          filter: 'text',
          text: this.$tc('forms.type', 1),
          width: 80,
          skeleton: 'icon',
          component: IconCell,
          props: row => ({
            type: row.customer_id % 2 === 0 ? 'buildings' : 'users',
            dimensions: 22
          })
        },
        [
          {
            name: 'name',
            filter: 'text',
            width: 250,
            text: this.$tc('forms.name', 1)
          },
          {
            name: 'customer_id',
            filter: 'text',
            options: {
              type: 'number'
            },
            text: this.$t('forms.customer_id')
          }
        ],
        [
          {
            name: 'shipments',
            filter: 'text',
            width: 300,
            text: this.$tc('forms.shipments', 2)
          },
          {
            name: 'last_trade',
            filter: 'date',
            text: this.$t('forms.last_trade', 2)
          }
        ],
        [
          {
            name: 'country',
            filter: 'country',
            width: 300,
            text: this.$t('forms.country')
          },
          {
            name: 'delivery_addresses',
            filter: 'text',
            text: this.$tc('forms.delivery_address', 1),
            transform: row => this.$tc('forms.shipments_count', 1, { count: row.delivery_addresses })
          }
        ]
      ],
      value: 1
    }
  },

  methods: {
    filterHandler () {
      this.showFilter = !this.showFilter
    },

    rowClick (data) {
      this.$router.push(`customers/view/${data.id}`)
    },

    importManually () {
      this.$router.push('customers/add')
    },

    importFromFile () {
    },

    setDeleteItems (data) {
      this.checkboxData = data
    },

    async fetchFn (params = {}) {
      try {
        this.checkboxData = []
        this.loader = true
        const { data } = await get('customer', { params })
        const { items, count, entity } = data
        this.tableData = items
        this.count = count
        this.entity = entity
      } finally {
        this.loader = false
      }
    }
  }
}
</script>
