<template>
  <transition
    :appear="appear"
    :mode="mode"
    @before-enter="beforeEnter"
    @enter="enter"
    @leave="leave"
  >
    <slot />
  </transition>
</template>
<script>

import anime from 'animejs'
import transitionProps from './transitionProps'

function applyFadeFn (el, done, ctx, rev) {
  const {
    endOpacity,
    startOpacity,
    duration,
    easing
  } = ctx

  const conf = {
    targets: el,
    duration,
    easing,
    complete: done,
    opacity: [startOpacity, endOpacity]
  }

  rev && (conf.direction = 'reverse')
  done && (conf.complete = done)
  anime(conf)
}

export default {
  name: 'FadeTransition',

  mixins: [
    transitionProps
  ],

  props: {
    group: Boolean,
    endOpacity: {
      type: Number,
      default: 1
    },

    duration: {
      type: Number,
      required: false,
      default: 250
    },

    startOpacity: {
      type: Number,
      default: 0
    },

    easing: {
      type: String,
      required: false,
      default: 'easeInOutSine'
    }

  },

  computed: {
    commonProps () {
      return {}
    }
  },

  methods: {
    beforeEnter (el) {
      this.$emit('transition-before-enter', el)
    },

    enter (el, done) {
      applyFadeFn(el, done, this)
    },

    afterEnter (el) {
      this.$emit('transition-after-enter', el)
    },

    beforeLeave (el) {
      this.$emit('transition-before-leave', el)
    },

    leave (el, done) {
      applyFadeFn(el, done, this, true)
      this.$emit('transition-leave', el)
    },

    afterLeave (el) {
      this.$emit('transition-after-leave', el)
    }
  }
}

</script>
