<template>
  <transition
    :css="false"
    @enter="enter"
    @after-enter="afterEnter"
    @before-leave="beforeLeave"
    @leave="leave"
    @after-leave="afterLeave"
    :mode="mode"
    :name="name"
    :appear="appear"
  >
    <slot />
  </transition>
</template>
<script>

import anime from 'animejs'
import transitionProps from './transitionProps'

function resolveDirection (dir, offset) {
  switch (dir) {
    case 'up': return {
      translateY: [offset, 0]
    }
    case 'up-left': return {
      translateY: [offset, 0],
      translateX: [-offset, 0]
    }
    case 'up-right': return {
      translateY: [offset, 0],
      translateX: [offset, 0]
    }
    case 'down': return {
      translateY: [-offset, 0]
    }
    case 'down-left': return {
      translateY: [-offset, 0],
      translateX: [-offset, 0]
    }
    case 'down-right': return {
      translateY: [-offset, 0],
      translateX: [offset, 0]
    }
    case 'left': return {
      translateX: [-offset, 0]
    }
    case 'right': return {
      translateX: [offset, 0]
    }
  }
}

export default {
  name: 'SlideTransition',

  mixins: [
    transitionProps
  ],

  props: {
    direction: {
      type: String,
      required: false
    },

    fade: {
      type: Boolean,
      default: false
    },

    easing: {
      type: String,
      required: false,
      default: 'easeOutQuart'
    },

    duration: {
      type: Number,
      required: false,
      default: 300
    },

    offset: {
      type: Number,
      required: false,
      default: 500
    }
  },

  computed: {
    useFade () {
      if (this.fade) {
        return {
          opacity: [0, 1]
        }
      }

      return {}
    }
  },

  methods: {
    enter (el, done) {
      const { direction, offset, duration, easing, useFade } = this
      anime({
        complete: done,
        duration,
        easing,
        targets: el,
        ...useFade,
        ...resolveDirection(direction, offset)
      })
    },

    afterEnter (el) {},

    beforeLeave (el) {},

    leave (el, done) {
      const { direction, duration, easing, offset, useFade } = this
      anime({
        complete: done,
        duration,
        direction: 'reverse',
        easing,
        targets: el,
        ...useFade,
        ...resolveDirection(direction, offset)
      })
    },

    afterLeave (el) {}
  }
}

</script>
