<template functional>
  <component
    :is="props.tag"
    :class="[
      props.container && 'container',
      props.row && 'row',
      props.lg && `col-lg-${props.lg}`,
      props.md && `col-md-${props.md}`,
      props.sm && `col-sm-${props.sm}`,
      ...data.staticClass
    ]"
    v-bind="attrs"
    v-on="listeners"
  >
    <slot />
  </component>
</template>

<script>
export default {
  props: {
    container: [Boolean, String],
    lg: Number,
    md: Number,
    sm: Number,
    xs: Number,
    row: Boolean,
    tag: {
      type: String,
      default: 'div'
    }
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/grid';
@use 'components/core/styles/utils';

.container {
  width: 100%;
  max-width: 1066px;
  margin: auto;
}

</style>
