@keyframes fade-in-keyframes {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fade-out-keyframes {
  from { opacity: 0 }
  to { opacity: 1 }
}

@function fade ($type, $speed, $fn: ease) {
  @return fade-#{$type}-keyframes $speed $fn;
}

@function slide($direction, $ammount) {
  $val: $ammount;

  @if $direction == 'left' {
    $val: -$val;
  }
}
