@use "sass:map";

$bps: (
  "xs": 480px,
  "sm": 768px,
  "md": 850px,
  "lg": 1100px
);

@mixin screen ($size, $width-type: 'max') {
  @if $width-type == 'max' {
    @media screen and (max-width: $size) {
      @content($size);
    }      
  } @else if $width-type == 'min' {
    @media screen and (min-width: $size) {
      @content($size);
    }  
  }
}

:export {
  xs: map.get($bps, 'xs');
  sm: map.get($bps, 'sm');
  md: map.get($bps, 'md');
  lg: map.get($bps, 'lg');
}