@use "sass:map";

// All available colors go here
$color-list: (
  "main": var(--color-main),
  "main-light": var(--color-main-light),
  "main-low-opacity": var(--color-main-low-opacity),
  "light": var(--color-light),
  "dark": var(--color-dark),
  "error": var(--color-warning),
  "white": #fff,
  "gray-light": var(--color-gray-light),
  "save": var(--color-save),
  "cancel": var(--color-btn-cancel),
  "background": var(--main-background),
  "header-border": var(--color-header-border),
  "header-search-browser": var(--header-search-border),
  "header-bg": var(--color-header-bg),
  "warning": var(--color-warning),
  "status-online": var(--header-online-status),
  "status-away": var(--header-away-status),
  "statys-busy": var(--header-busy-status)
);

$gray-shades: (
  10: #f6f6f6,
  20: #ececec,
  30: #e2e2e2,
  40: #d8d8d8,
  50: #cecece,
  60: #c5c5c5,
  70: #bbbbbb,
  80: #b1b1b1,
  90: #a7a7a7,
  100: #9d9d9d,
  110: #767676,
  120: #6c6c6c,
  130: #636363,
  140: #595959,
  150: #4f4f4f,
  160: #454545,
  170: #3b3b3b,
  180: #323232,
  190: #282828,
  200: #141414
);

@mixin create-classes($append: null) {
  $props: (
    'color': color,
    'bg': background-color,
    'fill': fill,
    'stroke': stroke
  );

  @each $class, $prop in $props {
    @each $key, $color in $color-list {
      .#{$class}-#{$key} {
        #{$prop}: $color;
      }
    }

    @each $key, $color in $gray-shades {
      .#{$class}-gray-#{$key} {
        #{$prop}: $color;
      }
    }
  }
}

@function gray ($shade) {
  @return map.get($gray-shades, $shade);
}

@function get ($cl) {
  $prop: map.get($color-list, $cl);
  @return $prop;
}

:export {
  main-low-opacity: map.get($color-list, 'main-low-opacity');
  save: map.get($color-list, 'save');
  cancel: map.get($color-list, 'cancel');
  header-border: map.get($color-list, 'main');
  header-search-browser: map.get($color-list, 'header-search-border');
  header-bg: map.get($color-list, 'header-bg');
  warning: map.get($color-list, 'warning');
  status-online: map.get($color-list, 'status-online');
  status-away: map.get($color-list, 'status-away');
  statys-busy: map.get($color-list, 'status-busy');
  main: map.get($color-list, 'main');
  light: map.get($color-list, 'light');
  dark: map.get($color-list, 'dark');
  error: map.get($color-list, 'error');
  white: map.get($color-list, 'white');
  gray-light: map.get($color-list, 'gray-light');
  background: map.get($color-list, 'background');

  gray-10: map.get($gray-shades, 10);
  gray-20: map.get($gray-shades, 20);
  gray-30: map.get($gray-shades, 30);
  gray-40: map.get($gray-shades, 40);
  gray-50: map.get($gray-shades, 50);
  gray-60: map.get($gray-shades, 60);
  gray-70: map.get($gray-shades, 70);
  gray-80: map.get($gray-shades, 80);
  gray-90: map.get($gray-shades, 90);
  gray-100: map.get($gray-shades, 100);
  gray-110: map.get($gray-shades, 110);
  gray-120: map.get($gray-shades, 120);
  gray-130: map.get($gray-shades, 130);
  gray-140: map.get($gray-shades, 140);
  gray-150: map.get($gray-shades, 150);
  gray-160: map.get($gray-shades, 160);
  gray-170: map.get($gray-shades, 170);
  gray-180: map.get($gray-shades, 180);
  gray-190: map.get($gray-shades, 190);
  gray-200: map.get($gray-shades, 200);
}
