@use 'measures';
@use 'shadows';
@use 'colors';

@mixin box($shadow: true, $no-padding: false) {
  background-color: white;
  border-radius: measures.get('border-radius');

  @if $no-padding == false {
    padding: 20px 20px 20px 28px;
  }

  @if $shadow == true {
    box-shadow: shadows.get('main');
  }
}