@forward 'flexboxgrid/css/flexboxgrid.min';

.input-viewbox {
  &--gap {
    margin-top: 24px;
  }

  &--fourth {
    @extend .col-lg-3;
    @extend .col-md-3;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }

  &--third {
    @extend .col-lg-4;
    @extend .col-md-4;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }

  &--half {
    @extend .col-lg-6;
    @extend .col-md-6;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }

  &--full {
    @extend .col-lg-12;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }
}