@use 'colors';

@mixin dropdown ($bg: white) {
  &::-webkit-scrollbar {
    position: absolute;
    width: 12px;
    height: 12px;
    background: $bg;
  }
  &::-webkit-scrollbar-thumb {
    height: 1rem;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: colors.gray(90);
  }
  &::-webkit-scrollbar-corner {
    background: #E9E9E9;
  }
}
