@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin flex ($justify-content: start, $align-items: normal) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin autofill-hack ($bg: white) {
  :-webkit-autofill,
  :-webkit-autofill:hover,
  :-webkit-autofill:focus,
  :-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
  }
}

@mixin modal($top: 50%) {
  position: fixed;
  top: $top;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}