<template>
  <div class="icon-wrapper">
    <icon
      v-bind="$props"
    />
  </div>
</template>

<script>

import { Icon } from 'components/core'
import iconProps from 'components/core/commonProps/iconProps'

export default {
  name: 'TableIcon',

  components: {
    Icon
  },

  props: iconProps
}
</script>

<style lang="scss" scoped>

.icon-wrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

</style>
