<template>
  <div class="form-box">
    <div
      class="row"
      v-for="(item, index) in fields"
      :key="index"
    >
      <template v-if="Array.isArray(item)">
        <div
          class="input-gap"
          :class="item.class || (`
            col-lg-${12 / item.length}
            col-md-${12 / item.length}
            col-sm-12
            col-xs-12
          `)"
          v-for="(subItem, subIndex) in item"
          :key="subIndex"
        >
          <input-field
            v-bind="subItem"
            :value="fieldsData[subItem.name]"
            v-on="resolveEvents(subItem)"
            @change="onChange($event, subItem)"
            @input="onInput($event, subItem)"
            :errors="checkError(subItem.name)"
          />
        </div>
      </template>
      <div
        v-else
        class="input-gap"
        :class="item.class || (`
          col-lg-12
          col-md-12
          col-sm-12
          col-xs-12
        `)"
      >
        <input-field
          v-bind="item"
          :value="fieldsData[item.name]"
          v-on="resolveEvents(item)"
          @change="onChange($event, item)"
          @input="onInput($event, item)"
          :errors="checkError(item.name)"
        />
      </div>
    </div>
  </div>
</template>

<script>

import { InputField } from 'components/core'
import { transform } from 'lodash'
import { EventBus } from './bus'

export default {
  name: 'FormGroup',

  components: {
    InputField
  },

  props: {
    fields: Array,
    values: Object
  },

  data: () => ({
    fieldsData: {},
    errors: []
  }),

  methods: {
    onChange (e, { name, variant }) {
      this.removeErrorOnType(name)

      ;(variant === 'dropdown' || variant === 'country') && (this.fieldsData = {
        ...this.fieldsData,
        [name]: e.key
      })

      EventBus.$emit('_input', this.fieldsData)
    },

    onInput (e, { name, variant }) {
      this.removeErrorOnType(name)

      ;(variant === 'base' || !variant) && (this.fieldsData = {
        ...this.fieldsData,
        [name]: e.target.value
      })

      EventBus.$emit('_input', this.fieldsData)
    },

    removeErrorOnType (name) {
      const index = this.errors.findIndex(o => o.name === name)
      index !== -1 && this.errors.splice(index, 1)
    },

    checkError (name) {
      const err = this.errors.find(o => o.name === name)
      return err ? err.messages.map(e => this.$t(e)) : []
    },

    createDataObject () {
      const data = this.fields.flat()
      this.fieldsData = transform(data, (res, dataRow) => {
        res[dataRow.name] = dataRow.value
      }, {})
    },

    resolveEvents ({ events = {} }) {
      return transform(events, (res, fn, key) => {
        res[key] = e => {
          fn(e)
        }
      }, {})
    },

    valueUpdater (data) {
      data && (this.fieldsData = ({
        ...this.fieldsData,
        ...data
      })) && EventBus.$emit('_input', this.fieldsData)
    }
  },

  created () {
    this.createDataObject()

    console.log(this.mergedFieldsWithData)

    this.$listeners.data && this.$watch('fieldsData', data => {
      this.$emit('data', data)
    }, {
      deep: true
    })

    this.$watch('values', this.valueUpdater, {
      deep: true
    })

    EventBus.$on('errors', errors => (this.errors = errors))
  }
}
</script>

<style lang="scss" scoped>

@import 'components/core/styles/grid';

.row:not(:first-child) .input-gap {
  margin-top: 30px;
}

.form__submit {
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
}

</style>
