<template>
  <div class="form-container">
    <div class="form-container__disabled-wrapper">
      <div class="form-container__content">
        <form v-bind="$attrs">
          <slot />
        </form>
      </div>
      <div
        class="form-container__buttons"
        v-show="showButtons"
      >
        <btn
          color="save"
          type="submit"
          :form="$attrs.form"
          @click.native="onSubmit"
        >
          {{ $t(addText || 'forms.submit') }}
        </btn>
        <btn
          @click.native="$router.go(-1)"
          color="cancel"
        >
          {{ $t('forms.cancel') }}
        </btn>
      </div>
    </div>
  </div>
</template>

<script>

import { Btn, Validate } from 'components/core'
import { EventBus } from './bus'

export default {
  name: 'FormContainer',

  components: {
    Btn
  },

  inheritAttrs: false,

  props: {
    addText: String,
    disable: Boolean,
    loading: Boolean,
    validatorScheema: {
      type: Object,
      default: () => ({})
    }
  },

  data: () => ({
    groupedData: {},
    showButtons: false
  }),

  methods: {
    onSubmit (e) {
      const validator = new Validate({
        data: this.groupedData,
        scheema: this.validatorScheema
      })

      !validator.isValid
        ? EventBus.$emit('errors', validator.errors)
        : this.$emit('submit', this.groupedData, e)
    }
  },

  created () {
    EventBus.$on('_input', data => {
      !this.showButtons && (this.showButtons = true)
      this.groupedData = data
    }, {
      deep: true
    })
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/shadows';
@use 'components/core/styles/colors';

.form-container {
  position: relative;

  &__loading-overlay {
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }

  &__buttons {
    background-color: colors.get('dark');
    box-shadow: shadows.get('main');
    width: 100%;
    left: 0;
    z-index: 20;
    padding: 16px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    animation: show-buttons .5s cubic-bezier(0.77, 0, 0.175, 1);

    > button {
      margin-right: 10px;
      box-shadow: none;
      padding: 10px 60px;
      height: auto;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes show-buttons {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

</style>
