<template>
  <base-datepicker
    :date="internalValue"
    @value="setValue"
    @panel="setPanel"
  >
    <div
      class="input-datepicker"
      role="dialog"
      aria-modal="true"
    >
      <div
        class="input-datepicker__box-wrapper"
      >
        <paper
          class="input-datepicker__box"
        >
          <template v-if="mode === 'months'">
            <div class="input-datepicker__heading">
              <arrow-icon
                class="input-datepicker__icon"
                direction="left"
                :dimensions="13"
                color="main"
                @click.native="prevMonth"
              />
              <typography
                class="input-datepicker__heading-title"
                @click="setMode"
                tag="h1"
                color="main"
                :size="16"
              >
                {{ headingValue }}
              </typography>
              <arrow-icon
                class="input-datepicker__icon"
                direction="right"
                :dimensions="12"
                color="main"
                @click.native="nextMonth"
              />
            </div>
            <div class="input-datepicker__row input-datepicker__row--days">
              <div
                class="input-datepicker__day"
                v-for="(dayName, i) in daysList"
                :key="i"
              >
                <typography
                  :weight="500"
                  tag="span"
                  color="main"
                  :size="12"
                >
                  {{ dayName }}
                </typography>
              </div>
            </div>
            <div
              class="input-datepicker__row"
              v-for="(dayRow, index) in panelData"
              :key="index"
            >
              <div
                class="input-datepicker__day input-datepicker__day--clickable"
                :class="[
                  !isCurrentMonth(dayDate) && 'input-datepicker__day--prev-next-month',
                  isToday(dayDate) && 'input-datepicker__day--today',
                  isChecked(dayDate) && 'input-datepicker__day--checked',
                  (range && isSelectingRange && checkRange(dayDate) && 'input-datepicker__day-range') || noop
                ]"
                v-for="(dayDate, dayIndex) in dayRow"
                :key="dayIndex"
                @click="setDate(dayDate)"
                @mouseover="(range && isSelectingRange && setRangeHoverEffect(dayDate, dayIndex)) || noop"
              >
                <typography
                  :color="isCurrentMonth(dayDate) ? 'dark' : 'light'"
                  :weight="400"
                  tag="span"
                  :size="12"
                >
                  {{ formatDate(dayDate) }}
                </typography>
              </div>
            </div>
          </template>
          <template v-else-if="mode === 'years'">
            <div>
              TODO: need to add years and months
            </div>
          </template>
        </paper>
      </div>
    </div>
  </base-datepicker>
</template>

<script>

import { ArrowIcon, Paper, Typography } from 'components/core'
import BaseDatepicker from './BaseDatepicker'
import {
  format,
  getMonth,
  isToday,
  isEqual,
  addMonths,
  getYear,
  subMonths
} from 'date-fns'
import { noop, range } from 'lodash'

const MAX_YEAR = 2050
const MIN_YEAR = 2015

function isValidYearRange (y) {
  return y < MAX_YEAR && y > MIN_YEAR
}

/**
 * Match function for date format DD/MM/YYY or DD-MM-YYYY
 */
function matchFn (value) {
  const exp = /^(0?[1-9]|[12][0-9]|3[01])[-.](0?[1-9]|1[012])[-.]\d{4}$/i
  const matches = value.trim().match(exp)

  if (!matches) {
    return undefined
  }

  const year = matches[0].slice(-4)

  if (isValidYearRange(Number(year))) {
    const day = matches[1]
    const month = matches[2]
    const dateString = `${year}-${month}-${day}`

    return new Date(dateString)
  }
}

export default {
  components: {
    ArrowIcon,
    BaseDatepicker,
    Paper,
    Typography
  },

  name: 'BaseDatepickerPanel',

  props: {
    format: {
      type: String,
      required: false,
      default: 'dd.MM.yyyy'
    },
    range: {
      type: Boolean,
      required: false
    },
    searchDate: {
      type: String,
      required: false
    },
    searchMatchFn: {
      type: Function,
      required: false,
      default: matchFn
    },
    value: {
      type: [String, Date],
      required: false,
      default: () => new Date()
    }
  },

  data: () => ({
    panelData: [],
    internalValue: new Date(),
    mode: 'months',
    rangeSelecting: [],
    rangeValues: [],
    secondRangeValue: null,
    noop
  }),

  computed: {
    formatedValue () {
      return format(this.value, this.format)
    },

    headingValue () {
      return format(this.internalValue, 'MMMM yyyy')
    },

    isSelectingRange () {
      return this.rangeSelecting.length === 1
    },

    isValidYearRange () {
      return isValidYearRange(getYear(this.internalValue))
    }
  },

  methods: {
    checkRange (date) {
      console.log(date)
    },

    setRangeHoverEffect (date) {
      const [firstRangeValue] = this.rangeSelecting
      const getLastDay = this.formatDate(date)
      const getFirstDay = Number(this.formatDate(firstRangeValue))
      const isValidRange = getFirstDay <= getLastDay

      this.rangeValues = isValidRange
        ? range(getLastDay, getFirstDay)
        : []
    },

    setValue (date) {
      const value = format(this.value, this.format)
      this.$emit('value', value)
    },

    isToday (date) {
      return isToday(date)
    },

    isChecked (date) {
      return isEqual(date, this.value)
    },

    setPanel (data) {
      this.panelData = data
    },

    setDate (date) {
      const formatDate = format(date, this.format)

      if (this.range) {
        const len = this.rangeSelecting.length

        if (len !== 2) {
          this.rangeSelecting.push(date)
        } else if (len === 2) {
          this.$emit('value', this.rangeSelecting)
          this.rangeSelecting = []
        }
      } else {
        this.$emit('value', date, formatDate)
      }
    },

    formatDate (date) {
      return format(date, 'dd')
    },

    isCurrentMonth (date) {
      return getMonth(this.internalValue) === getMonth(date)
    },

    nextMonth () {
      if (this.isValidYearRange) {
        this.internalValue = addMonths(this.internalValue, 1)
      }
    },

    prevMonth () {
      if (this.isValidYearRange) {
        this.internalValue = subMonths(this.internalValue, 1)
      }
    },

    setMode () {
      this.mode = 'years'
    },

    getDateByInput (value) {
      const { searchMatchFn } = this
      const match = searchMatchFn(value)

      if (match && match instanceof Date) {
        this.internalValue = match
        this.$emit('value', match)
      }
    }
  },

  created () {
    this.daysList = [
      'mon',
      'tue',
      'wen',
      'thu',
      'fri',
      'sat',
      'sun'
    ].map(day => this.$t(`date.daysShort.${day}`))

    this.getDateByInput !== void 0 && this.$watch('searchDate', this.getDateByInput)
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/colors';
@use 'components/core/styles/utils';

.input-datepicker {
  position: relative;
  z-index: 100;
}

.input-datepicker__heading {
  @include utils.flex(space-between, center);
  padding: 10px;
}

.input-datepicker__icon {
  cursor: pointer;
}

.input-datepicker__box-wrapper {
  margin-top: 5px;
  height: 300px;
  position: fixed;
  z-index: 999;
}

::v-deep .input-datepicker__box {
  padding: 7px;
  height: inherit;
}

.input-datepicker__row {
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
}

.input-datepicker__day {
  width: 35px;
  height: 35px;
  @include utils.flex(center, center);
}

.input-datepicker__day--clickable {
  cursor: pointer;
  &:hover {
    background-color: colors.get('main-low-opacity');
  }
}

.input-datepicker__day--today {
  background-color: colors.get('main-low-opacity');
}

.input-datepicker__day--checked {
  background-color: colors.get('main-low-opacity');
  border: 1px solid colors.get('main');
}

::v-deep .input-datepicker__heading-title {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

</style>
