<template>
  <div class="table-header__slider">
    <div
      class="table-header__slider-icon left"
      v-show="!disabledSlideLeft"
      @click="slideLeft"
    >
      <arrow-icon
        direction="left"
        :dimensions="14"
      />
    </div>
    <div
      class="table-header__slider-icon right"
      v-show="!disabledSlideRight"
      @click="slideRight"
    >
      <arrow-icon
        direction="right"
        :dimensions="14"
      />
    </div>
  </div>
</template>

<script>

import { ArrowIcon } from 'components/core'

const MAX_PX = 550

export default {
  components: {
    ArrowIcon
  },

  props: {
    rowWidth: Number,
    items: Array,
    containerRef: HTMLElement
  },

  data: () => ({
    containerWidth: null,
    slideXPos: 0,
    refList: []
  }),

  computed: {
    itemsWidth () {
      const { isArray } = Array
      return this.items.map(item => isArray(item) ? item[0].width : item.width)
    },

    spaceRemaining () {
      return this.rowWidth - this.containerWidth - Math.abs(this.slideXPos)
    },

    disabledSlideRight () {
      return this.spaceRemaining === 0
    },

    disabledSlideLeft () {
      return this.slideXPos === 0
    },

    slideMax () {
      return this.spaceRemaining < MAX_PX ? this.spaceRemaining : MAX_PX
    },

    neraestOffset () {
      const { itemsWidth, slideXPos } = this
      const pos = Math.abs(slideXPos)

      return itemsWidth.some(w => (w < pos && pos))
    }
  },

  methods: {
    slideLeft () {
      this.slideXPos = 0
      this.$emit('position', this.slideXPos)
    },

    slideRight () {
      const { slideXPos, slideMax } = this
      this.slideXPos = -Math.abs(slideXPos - slideMax)
      this.$emit('position', this.slideXPos)
    }
  },

  mounted () {
    this.containerWidth = this.$parent.$el.getBoundingClientRect().width
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/shadows';

.table-header__slider {
  display: flex;
}

.table-header__slider-icon {
  display: inherit;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  top: 43%;
  opacity: .8;
  z-index: 5;
  position: absolute;

  &:hover {
    opacity: 1;
  }
}

.left {
  left: -36px;
}

.right {
  right: -36px;
}

</style>
