<template>
  <div class="prompt">
    <paper class="prompt__paper">
      <typography
        tag="h2"
        :size="26"
        :weight="600"
      >
        {{ $t('actions.delete_confirm_heading') }}
      </typography>
      <typography
        color="gray-120"
        :size="15"
      >
        {{ $t('actions.delete_confirm_subtext') }}
      </typography>
      <div class="prompt__papper__buttons">
        <btn
          icon-props="delete"
          color="warning"
          @click.native="$emit('confirm', $event)"
        >
          {{ $t('actions.delete') }}
        </btn>
        <btn
          color="gray-100"
          @click.native="$emit('cancel', $event)"
        >
          {{ $t('actions.cancel') }}
        </btn>
      </div>
    </paper>
  </div>
</template>

<script>

import { Btn, Paper, Typography } from 'components/core'

export default {
  name: 'ModalDeleteConfirm',

  components: {
    Btn,
    Paper,
    Typography
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/colors';
@use 'components/core/styles/utils';

.prompt {
  @include utils.modal;
}

::v-deep .prompt__paper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: colors.get('white');
  z-index: 501;
  margin: auto;
  width: 500px;
  height: 220px;
  box-shadow: none;
  padding: 50px;
  text-align: center;
  line-height: 1.4;
}

.prompt__papper__buttons {
  margin-top: 36px;
  display: flex;

  button {
    box-shadow: none;
    height: auto;
    padding: 10px 32px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

</style>
