@use 'components/core/styles/colors';
@use 'components/core/styles/measures';

.base-filter-input {
  border-radius: measures.get('border-radius');
  height: 31px;
  border-width: 1px;
  border-style: solid;
  border-color: colors.get('header-search-browser');
  text-indent: 9px;
  outline: none;
  font-weight: 500;
  width: 100%;
}

.base-filter-input:focus,
.base-filter-input__has-value {
  border-color: colors.get('main');
}
