<template>
  <input-field
    variant="country"
    autocomplete="off"
    v-bind="mergeOpts"
    @change="changeHandler"
  />
</template>

<script>

import { InputField } from 'components/core'

export default {
  components: {
    InputField
  },

  props: {
    options: {
      type: Object,
      required: false,
      default: () => ({})
    }
  },

  computed: {
    mergeOpts () {
      return {
        countryKey: 'alpha2',
        multi: false,
        filter: null,
        value: this.options.value && { key: this.options.value },
        ...this.options
      }
    }
  },

  methods: {
    changeHandler ({ value, key }) {
      this.$emit('dropdown', key, value)
    }
  }
}

</script>

<style lang="scss" scoped>

::v-deep .input-dropdown{
  width: 240px;
  &__list {
    max-height: 300px;
  }
}

</style>
