<template>
  <div />
</template>

<script>

import { InputField } from 'components/core'

export default {
  components: {
    InputField
  },

  props: {
    options: {
      type: Object,
      required: false,
      default: () => ({
        format: undefined,
        value: null,
        searchDate: null,
        searchDateFn: null
      })
    }
  },

  computed: {
    mergeOpts () {
      return {
        countryKey: 'alpha2',
        multi: false,
        filter: null,
        value: undefined,
        ...this.options
      }
    }
  }
}
</script>

<style lang="scss" scoped>

::v-deep .input-datepicker__box-wrapper {
  width: 240px;
}

</style>
