<template>
  <input-field
    variant="dropdown"
    v-bind="options"
  />
</template>

<script>

import { InputField } from 'components/core'

export default {
  components: {
    InputField
  },

  props: {
    options: {
      type: Object,
      required: false,
      default: () => ({
        items: [],
        value: null,
        multi: false,
        filters: null,
        iconComponent: null
      })
    }
  },

  methods: {
    expandedHandler () {},

    getValue ({ value, key }) {
      this.$emit('dropdown', key, value)
    }
  }
}

</script>

<style lang="scss" scoped>

::v-deep .input-dropdown{
  width: 240px;
  &__list {
    max-height: 300px;
  }
}

</style>
