<template>
  <input-field
    type="text"
    v-bind="options"
    v-on="$listeners"
  />
</template>

<script>

import { InputField } from 'components/core'

export default {
  components: {
    InputField
  },

  props: {
    options: {
      type: Object,
      default: () => ({
        value: null,
        name: null
      })
    }
  }
}
</script>
