<template>
  <div
    class="drawer"
  >
    <div
      ref="content"
      class="drawer__content"
      :style="{ maxHeight: `${elHeight}px` }"
    >
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    fixedMax: {
      type: Number
    },
    fixedMin: {
      type: Number,
      default: 0
    },
    open: {
      type: Boolean,
      required: true
    }
  },

  data: () => ({
    elHeight: null,
    _height: 0
  }),

  mounted () {
    const { fixedMax, fixedMin } = this

    this.$watch('open', open => {
      if (fixedMax) {
        this._height = fixedMax
      }

      if (fixedMin !== void 0) {
        this._min = fixedMin
      }

      this.elHeight = open ? this._height : this._min
    }, { immediate: true })
  }
}
</script>

<style lang="scss" scoped>

.drawer {
  position: relative;

  &__content {
    overflow: hidden;
    transition: max-height .25s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

</style>
