<template>
  <div>
    <template v-if="customer !== null">
      <view-box-heading>
        {{ $tc('routeNames.customers', 1) }}
        <template slot="sideNote">
          (214124)
        </template>
      </view-box-heading>
      <grid row>
        <grid :lg="5">
          <view-box-address
            :segments="[{
              data: [
                'Addres name',
                'Blabla',
                'Blableltfewlr'
              ],
              fieldName: 'Address',
              icon: 'flower'
            }]"
            :profile="{
              img: {
                src: 'https://m.media-amazon.com/images/M/MV5BNzE3ZDgxNDktMGZlYi00Zjc5LTgwYmItOTgwNDlkOTg4ZTM0XkEyXkFqcGdeQXVyMzIwMTIwODc@._V1_.jpg'
              },
              fullName: customer.name
            }"
          />
        </grid>
      </grid>
    </template>
    <friendly-err-block
      :title="$t('errors.customer_not_found_title')"
      v-else
    >
      {{ $t('errors.customer_not_found_desc') }}
      <mc-link to="/admin/dashboard/customers/modify">
        {{ $t('forms.add_new_q') }}
      </mc-link>
    </friendly-err-block>
  </div>
</template>

<script>

import { ViewBoxHeading, ViewBoxAddress, FriendlyErrBlock } from 'components/layout'
import { McLink, Grid } from 'components/core'
import { get } from 'services/api'

export default {
  components: {
    FriendlyErrBlock,
    Grid,
    McLink,
    ViewBoxAddress,
    ViewBoxHeading
  },

  data: () => ({
    customerNotFoundErr: false,
    customer: {}
  }),

  methods: {
    async fetchById () {
      try {
        const { id } = this.$route.params
        const { data } = await get(`customer/${id}`)

        this.customer = data
      } catch (e) {
        this.customer = null
      } finally {

      }
    }
  },

  watch: {
    $route: {
      immediate: true,
      handler ({ params }) {
        params.id && this.fetchById()
      }
    }
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/grid';

</style>
