<template>
  <div class="toast-container">
    <div class="toast-container__overlay">
      <div
        class="toast-container__toast-wrapper"
        v-for="{ id, props } in queue"
        :key="id"
      >
        <toast v-bind="props" />
      </div>
    </div>
  </div>
</template>

<script>

import { Toast } from 'components/core'

export default {
  components: {
    Toast
  },

  data: () => ({
    queue: []
  }),

  computed: {

  }
}
</script>

<style lang="scss" scoped>

</style>
