<template>
  <div class="view-loader">
    <backdrop
      v-bind="backdropProps"
    />
    <div class="view-loader__content">
      <div class="view-loader__spinner">
        <spinner
          color1="bg-main"
          color2="bg-main-low-opacity"
        />
      </div>
      <div class="view-loader__text">
        <typography
          :size="24"
          color="dark"
          :weight="300"
          tag="h1"
        >
          {{ title }}
        </typography>
        <br>
        <typography
          :size="14"
          color="gray-100"
          :weight="300"
          tag="p"
        >
          {{ text }}
        </typography>
      </div>
    </div>
  </div>
</template>

<script>

import { Backdrop, Typography } from 'components/core'
import { Spinner } from '..'

export default {
  components: {
    Backdrop,
    Spinner,
    Typography
  },

  props: {
    title: null,
    loading: Boolean,
    text: null,
    destroy: Boolean,
    backdropProps: {
      type: Object,
      default: () => ({})
    }
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/colors';
@use 'components/core/styles/measures';

.view-loader {
  &__content {
    z-index: 99;
    position: fixed;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
    margin: 0 auto;
    width: 550px;
    height: 260px;
    background-color: colors.get('white');
    border-radius: measures.get('border-radius');
    padding: 36px;
  }

  &__spinner {
    margin: 40px auto 30px auto;
    position: relative;
  }

  &__spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__text {
    text-align: center;
    line-height: .9;
  }
}

</style>
