<template>
  <fade-transition
    :transition-duration="150"
  >
    <div class="prompt">
      <paper class="prompt__paper">
        <typography
          tag="h2"
          :size="26"
          :weight="600"
        >
          <slot name="title" />
        </typography>
        <typography
          color="gray-120"
          :size="15"
        >
          <slot name="desc" />
        </typography>
        <div class="prompt__paper__buttons">
          <slot name="buttons" />
        </div>
      </paper>
      <backdrop />
    </div>
  </fade-transition>
</template>

<script>

import { Backdrop, Typography } from 'components/core'
import { FadeTransition } from 'components/transitions'

export default {
  components: {
    Backdrop,
    FadeTransition,
    Typography
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/colors';

.prompt {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

::v-deep .prompt__paper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: colors.get('white');
  z-index: 501;
  margin: auto;
  width: 500px;
  height: 220px;
  box-shadow: none;

  &__buttons {
    margin-top: 36px;
    display: flex;

    button {
      box-shadow: none;
      height: auto;
      padding: 10px 60px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

</style>
