<template>
  <div class="delete-btn">
    <btn
      color="warning"
      :icon-props="{
        type: 'delete',
        dimensions: 16
      }"
    >
      {{ $t('actions.delete') }}
    </btn>
    <typography
      class="delete-btn__txt"
      color="white"
      :size="9"
      tag="span"
      :weight="700"
    >
      {{ count }}
    </typography>
  </div>
</template>

<script>

import { Btn, Typography } from 'components/core'

export default {
  name: 'DeleteButton',

  components: {
    Btn,
    Typography
  },

  props: {
    count: Number
  }
}
</script>

<style lang="scss" scoped>

.delete-btn {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

::v-deep .delete-btn__txt {
  position: absolute;
  top: 4px;
  right: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

</style>
