<template>
  <div>
    <input-field
      variant="country"
      multi
      :value="['ES', 'DK', 'SR']"
    />
  </div>
</template>

<script>

import { InputField } from 'components/core'

export default {
  components: {
    InputField
  }
}
</script>

<style lang="scss" scoped>

</style>
