<template functional>
  <component
    class="typography"
    :ref="data.ref"
    :class="[
      data.class,
      data.staticClass,
      props.align && `align-${props.align}`,
      !props.selectable && 'not-selectable',
      `color-${props.color}`
    ]"
    :style="{
      fontWeight: props.weight,
      fontSize: `${props.size}px`
    }"
    v-bind="data.attrs"
    v-on="listeners"
    :is="props.tag"
  >
    <slot />
  </component>
</template>
<script>

import { colorProp } from '../commonProps/colors'

export default {
  name: 'Typography',

  props: {
    align: String,
    color: colorProp,
    weight: {
      type: Number,
      required: false,
      default: 400,
      validator: v => ([
        100,
        200,
        300,
        400,
        500,
        600,
        700
      ].includes(v))
    },

    size: {
      type: Number,
      required: false,
      default: 13
    },

    selectable: {
      type: Boolean,
      required: false,
      default: true
    },

    tag: {
      type: String,
      required: false,
      default: 'p'
    }
  }
}

</script>
<style lang="scss" scoped>

@use "../styles/colors";

.typography {
  margin: 0;
  padding: 0;
}

.not-selectable {
  user-select: none;
}

.align {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

</style>
