<template>
  <component
    :is="comp"
    v-bind="{ ...$props, ...$attrs }"
    v-on="$listeners"
  >
    <slot />
  </component>
</template>

<script>

import datepickerProps from '../commonProps/datepickerProps'
import dropdownProps from '../commonProps/dropdownProps'
import Base from './Base/Base'
import Country from './Base/Country'
import Dropdown from './Base/Dropdown'
import Datepicker from './Base/Datepicker'

export default {
  name: 'InputRender',

  inheritAttrs: false,

  props: {
    ...datepickerProps,
    ...dropdownProps,
    desc: String,
    errors: Array,
    value: [String, Array, Object, Number],
    variant: {
      type: String,
      default: 'base'
    }
  },

  data: () => ({
    comp: null,
    componentProps: {}
  }),

  created () {
    switch (this.variant) {
      case 'base':
        this.comp = Base
        break
      case 'country':
        this.comp = Country
        break
      case 'datepicker':
        this.comp = Datepicker
        break
      case 'dropdown':
        this.comp = Dropdown
        break
    }
  }
}

</script>
