<template>
  <div
    class="country-icon"
  >
    <img :src="img" />
  </div>
</template>

<script>

export default {
  props: {
    type: String
  },

  data: () => ({
    img: null
  }),

  methods: {
    async fetchFlag () {
      try {
        const data = await import(`flag-icon-css/flags/4x3/${this.type}.svg`)
        data && data.default && (this.img = data.default)
      } catch(e) {
        if (process.env.NODE_ENV === 'development') {
          console.warn(`Flag image not loaded: ${this.type}`)
        }
      }
    }
  },

  created () {
    this.fetchFlag()
  }
}

</script>

<style lang="scss" scoped>

.country-icon {
  width: 32px;
  height: 22px;
  background-repeat: no-repeat;
}

</style>
