<template>
  <router-view />
</template>
<script>

import './styles/main'
import { GuardMixin } from './services/auth'
import Theme from 'services/theme'
import { TOKEN_KEY, LOGIN_PATH, ADMIN_INDEX } from './config'
import defaultTheme from './data/defaultTheme'

const GuardMixinResolve = GuardMixin({
  authKey: TOKEN_KEY,
  locationPath: ADMIN_INDEX,
  loginPath: LOGIN_PATH,
  ignore: []
})

export default {
  mixins: [
    GuardMixinResolve
  ],

  beforeCreate () {
    // eslint-disable-next-line no-new
    new Theme('adminTheme', defaultTheme)
  }
}
</script>
