<template>
  <div
    class="pill"
    :class="all ? 'bg-main-low-opacity' : 'bg-gray-30'"
    :title="$t('actions.dt_filters_rm_pill_desc')"
  >
    <template v-if="all">
      <typography
        :size="14"
        color="main"
        tag="span"
      >
        {{ $t('actions.clear_all_filters') }}
      </typography>
    </template>
    <template v-else>
      <typography
        :size="14"
        tag="span"
        color="gray-110"
      >
        {{ $t(`forms.${name}`) }}:
      </typography>
      <typography
        :size="16"
        tag="span"
      >
        {{ getProperValue }}
      </typography>
    </template>
    <div class="pill__icon">
      <icon
        type="remove"
        :color="all ? 'main' : 'dark'"
        :dimensions="16"
      />
    </div>
  </div>
</template>

<script>

import { Icon, Typography } from 'components/core'
import { getCountryNames } from 'utils/countryHelpers'

export default {
  components: {
    Icon,
    Typography
  },

  props: {
    all: Boolean,
    dataConfig: {
      type: Array,
      default: () => ([])
    },
    item: String,
    name: String
  },

  computed: {
    getProperValue () {
      const conf = this.dataConfig.flat()
      const { filter } = conf.find(({ name }) => name === this.name)

      switch (filter) {
        case 'text':
          return this.item
        case 'country':
          const countryKey = filter?.options?.countryKey || 'alpha2'
          return getCountryNames(this.item, countryKey).join(', ')
      }

      return null
    }
  }
}
</script>

<style lang="scss" scoped>

@use 'components/core/styles/utils';
@use 'components/core/styles/shadows';

.pill {
  display: inline-block;
  position: relative;
  padding: 2px 18px 6px 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: .25s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-right: 10px;

  &__icon {
    position: absolute;
    left: 6px;
    top: 3px;
  }

  &:hover {
    opacity: .9;
  }
}

</style>
