<template>
  <div
    class="menu-item"
  >
    <div
      :for="name"
      class="menu-item__container"
      @click="open = !open"
    >
      <div class="menu-item__label-icon-wrapper">
        <arrow-icon
          :color="open ? 'main' : 'dark'"
          :direction="open ? 'down' : 'up'"
          :dimensions="12"
        />
      </div>
      <typography
        tag="label"
        class="menu-item__name"
        :color="open ? 'main' : 'dark'"
        :weight="600"
        :size="13"
      >
        {{ name }}
      </typography>
    </div>
    <drawer
      :open="open"
      :fixed-max="filterType.fixedMaxHeight"
      @foucs.native="open = true"
    >
      <div
        class="menu-item__component"
        ref="component"
      >
        <component
          :is="filterType.component"
          :options="filterType.options"
          v-on="registerListeners"
        />
      </div>
    </drawer>
  </div>
</template>
<script>

import { Typography, ArrowIcon, Drawer } from 'components/core'
import {
  Text,
  Country,
  Dropdown,
  Datepicker
} from './Types'
import isPlainObject from 'lodash/isPlainObject'

export default {
  components: {
    Drawer,
    Typography,
    ArrowIcon
  },

  data: () => ({
    value: '',
    fixedHeight: null,
    open: false
  }),

  props: {
    filter: [Object, String],
    name: String,
    initialValue: String,
    options: {
      type: Object,
      default: () => ({})
    }
  },

  computed: {
    registerListeners () {
      return {
        input: e => {
          this.value = e.target.value
          this.$emit('value', this.value)
        },
        datepicker: value => {
          this.value = value
          this.$emit('value', this.value)
        },
        dropdown: (key, value) => {
          this.value = key
          this.$emit('value', this.value, value)
        }
      }
    },

    filterType () {
      const { filter, name, value } = this
      const options = {
        name,
        value: value || this.initialValue,
        ...this.options
      }

      let component
      const fixedMaxHeight = 46
      const filterType = isPlainObject(filter) ? filter.type : filter

      if (typeof filterType === 'string') {
        switch (filterType) {
          case 'text':
            component = Text
            break
          case 'date':
            component = Datepicker
            break
          case 'country':
            component = Country
            break
          case 'dropdown':
            component = Dropdown
            break
          default:
            throw Error(`No filter type: ${filterType}`)
        }
      }

      return { component, options, fixedMaxHeight }
    }
  },

  created () {
    this.initialValue && (this.open = true)
  }
}

</script>
<style lang="scss" scoped>

@use 'components/core/styles/colors';

.menu-item {
  position: relative;
  user-select: none;

  &__component {
    padding: 0px 30px 0px 30px;
  }

  &__checkbox {
    position: absolute;
    visibility: hidden;
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 7px 0px 7px 30px;
    height: 40px;
    cursor: pointer;

    :hover {
      color: colors.get('main');
    }
  }

  &__label-icon-wrapper {
    margin-top: -7px;
  }
}

::v-deep .menu-item__name {
  margin-left: 8px;
}

</style>
